.nav-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.hide-in-mobile {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidebar-width {
        width: 100%;
        height: fit-content;
        position: fixed;
        bottom: 0;
    }

    .sidebar-container {
        height: fit-content;
    }

    .nav-item {
        &:hover {
            border: none;
        }
    }

    .sidebar {
        position: fixed;
        bottom: 0;
        width: 100%;


        ul {
            @apply grid grid-cols-7;
        }

        .nav-item {
            @apply m-0;
        }

        .legue-icon {
            width: 34px;
        }

        li {
            @apply border-l border-gray-200 block w-full;
            height: 50px;
        }

        .nav-text {
            display: none;
        }

        .side-nav{
            @apply flex justify-center items-center p-0 border-t-4 border-r-0 border-l-0;
            transition: all 0.3s ease-in-out;

            &:hover,
            &.active {
                @apply border-indigo-500;  
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.side-nav{
    &.active {
        @apply border-indigo-500;
    }
}