
<div class="flex justify-between items-center">
   <h1 class="section-heading">Teams</h1>
   <button type="button" class="btn" (click)="addTeam()">Add Teams</button>

</div>
<div class="teams mt-10">
   <ng-container *ngFor="let team of (teams$ | async)">
      <div class="team-card flex p-4 gap-8 border border-gray-200 rounded-lg">
         <img [src]="team.logo" alt="team" class="w-20 h-20 rounded-full">
         <div>
            <p><strong>Name: </strong> {{team?.name}}</p>
            <p><strong>Players: </strong> 
            <ng-container *ngFor="let player of team.players">
               <span>{{player?.name}}</span>,
            </ng-container></p>
         </div>
      </div>
   </ng-container>
</div>

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
   <app-add-team (close)="closeModal()"></app-add-team>
</p-dialog>