<ng-container *ngIf="(player$ | async) as player">
    <h1 class="text-3xl font-bold">{{player.name}}</h1>

    <div class="card-container">
        <div class="card rounded-md mt-10 border border-gray-200 p-4">
            <h1 class="font-bold text-2xl text-blue-600 uppercase mb-3 text-center">batting</h1>
        
            <hr class="my-2">

            <div class="card-row mt-4 flex justify-between items-center">
                <p class="font-semibold capitalize">total runs</p>
                <p class="text-xl">{{player.stats.runs}}</p>
            </div>

            <hr class="my-2">

            <div class="card-row mt-4 flex justify-between items-center">
                <p class="font-semibold capitalize">batting avg</p>
                <p class="text-xl">{{calculateBattingAverage(player.stats.runs, player.stats.innigs)}}</p>
            </div>

            <hr class="my-2">

            <div class="card-row mt-4 flex justify-between items-center">
                <p class="font-semibold capitalize">strike rate</p>
                <p class="text-xl">{{calculateStrikeRate(player.stats.runs, player.stats.balls)}}</p>
            </div>

            <hr class="my-2">

            <div class="card-row mt-4 flex justify-between items-center">
                <p class="font-semibold capitalize">Highest Score</p>
                <p class="text-xl">{{player.stats.highScore}}</p>
            </div>
        </div>
    </div>
</ng-container>
