@use "@material/snackbar/mdc-snackbar";

@use "@material/snackbar";

@media (max-width: snackbar.$mobile-breakpoint) {
  .my-snackbar {
    @include snackbar.layout-stacked;
  }
}

@media (min-width: snackbar.$mobile-breakpoint) {
  .my-snackbar {
    @include snackbar.viewport-margin(snackbar.$viewport-margin-wide);
  }
}

.match-score {
  font-size: 20px;
  margin-left: auto;
}

.match-overs {
  @apply text-gray-500;
  font-size: 12px;
  white-space: nowrap;
}


.match-team {
  width: 400px;

  &:last-child {
    margin-bottom: 0 !important;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    font-size: 16px;

    img {
      width: 30px;
            height: 30px
    }
  }
}

.score-table {
  &-row {
    @apply mt-4 px-2 py-3 bg-gray-100 border border-gray-200 rounded-lg;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;

    @media screen and (max-width: 600px) {
      @apply py-2;
      font-size: 14px;
    }
  }
}

.bowling {
  @apply flex gap-2 mt-12 flex-wrap;
  p {
    @apply bg-gray-100 border font-semibold cursor-pointer border-gray-200 p-4 px-6 rounded-md;
    transition: all 0.2s ease;

    &:hover {
      @apply bg-gray-200;
      transition: all 0.2s ease;
    }

    @media screen and (max-width: 600px) {
      @apply p-3 px-4;
      font-size: 16px;
    }
  }
}

.active-wicket {
  @apply border border-gray-200 rounded-lg;
}

.p-dropdown,
.p-calendar {
  @apply shadow-sm flex bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;

  &:focus {
    @apply ring-blue-500 border-blue-500;
  }
}

.p-dropdown-label {
  @apply w-full p-0;
    font-size: 14px
}

.p-inputtext {
  @apply bg-transparent rounded-none shadow-none;
}


.p-dialog {
  @media screen and (max-width: 600px) {
    width: 80vw !important;
  }
}
.wickets {
  img {
    @media screen and (max-width: 600px) {
      width: 150px;
      height: 150px;
    }
  }
}

.wickets-container {
  @apply flex justify-center gap-4 flex-wrap;

  @media screen and (max-width: 600px) {
    @apply grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.match-container {
  @media screen and (max-width: 600px) {
    margin-bottom: 200px;
  }
}

.disable-bowling {
  @apply text-gray-400 cursor-not-allowed pointer-events-none;
}

.disabled-player label{
  @apply text-white bg-red-500 cursor-not-allowed pointer-events-none;
}
.playing-player label{
  @apply text-white bg-blue-500 cursor-not-allowed pointer-events-none;
}

.active-tab {
  @apply text-blue-600 border-b-2 border-blue-600;
}

.match-detail {
  @apply mt-8;
}

.scorecard td {
  @apply py-1;
}

.active-bg-label {
  @apply ring-blue-500 border-blue-500;
}

.active {
  @apply bg-gray-100;
}

.match-detail-row {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}