<ng-container *ngIf="match">
    <div class="match">
        <div class="border p-4 border-gray-200 bg-gray-100 rounded-md">
            <div class="match-team flex mb-4 gap-2 items-center">
                <img [src]="match?.team1?.logo" alt="team" class="w-10 h-10 ml-2 rounded-full">
                {{match?.team1?.name}}
                <span class="match-score">{{match?.team1Score ?? 0}}/0</span>
                <span class="match-overs">({{match?.overs}} Overs)</span>
            </div>
    
            <div class="match-team flex mb-4 gap-2 items-center">
                <img [src]="match?.team2?.logo" alt="team" class="w-10 h-10 ml-2 rounded-full">
                {{match?.team2?.name}}
                <span class="match-score">0/0</span>
                <span class="match-overs">({{match?.overs}} Overs)</span>
            </div>
            
    
            <button class="btn mt-2" (click)="openTheToss()" *ngIf="!match?.isStarted">Start Match</button>
        </div>
    </div>

    <div class="flex gap-3" *ngIf="match.isStarted">
        <button class="btn mt-2" (click)="openStriker()" *ngIf="!match.striker || !match.nonStriker">Select The Batsman</button>
        <button class="btn mt-2" (click)="openBowler()" *ngIf="!match.bowler">Select The Bowler</button>
    </div>
    
    <div class="score mt-5" *ngIf="match?.striker || match?.nonStriker || match?.bowler">
        <h1 class="text-3xl font-bold">Scores</h1>
    
        <div class="score-table" *ngIf="match.striker || match.nonStriker">
            <div class="score-table-row !bg-transparent !border-none">
                <p>Name</p>
                <p>R</p>
                <p>B</p>
                <p>4s</p>
                <p>6s</p>
                <p>SR</p>
            </div>
            <div class="score-table-row">
                <p>{{match.striker.name}}<span class="text-red-500 text-xl font-semibold">*</span></p>
                <p class="font-semibold">{{match.striker.runs ?? 0}}</p>
                <p>{{match.striker.balls ?? 0}}</p>
                <p>{{match.striker.fours ?? 0}}</p>
                <p>{{match.striker.sixes ?? 0}}</p>
                <p>{{calculateStrikeRate(match.striker.runs, match.striker.balls)}}</p>
            </div>
            <div class="score-table-row">
                <p>{{match.nonStriker.name}}</p>
                <p class="font-semibold">{{match.nonStriker.runs ?? 0}}</p>
                <p>{{match.nonStriker.balls ?? 0}}</p>
                <p>{{match.nonStriker.fours ?? 0}}</p>
                <p>{{match.nonStriker.sixes ?? 0}}</p>
                <p>{{calculateStrikeRate(match.nonStriker.runs, match.nonStriker.balls)}}</p>
            </div>
        </div>
        <hr class="my-8" *ngIf="match?.striker || match?.nonStriker">
        <div class="score-table" *ngIf="match?.bowler">
            <div class="score-table-row !bg-transparent !border-none">
                <p>Name</p>
                <p>O</p>
                <p>M</p>
                <p>R</p>
                <p>W</p>
                <p>ECO</p>
            </div>
            <div class="score-table-row">
                <p>{{match.bowler.name}}</p>
                <p>{{match.bowler.over ?? '0.0'}}</p>
                <p>{{match.bowler.maiden ?? 0}}</p>
                <p>{{match.bowler.runs ?? 0}}</p>
                <p>{{match.bowler.wickets ?? 0}}</p>
                <p>{{calculateEconomy(match.bowler.over, match.bowler.runs)}}</p>
            </div>
        </div>
    </div>
    
    <div class="bowling" *ngIf="match.bowler">
        <p (click)="setBowling(0)">0</p>
        <p (click)="setBowling(1)">1</p>
        <p (click)="setBowling(2)">2</p>
        <p (click)="setBowling(4)">4</p>
        <p (click)="setBowling(6)">6</p>
        <p (click)="setBowling('OUT')">OUT</p>
    </div>

    <!-- TOSS -->
    <p-dialog header="Header" [(visible)]="toss" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <app-coin-toss></app-coin-toss>

        <form [formGroup]="tossForm">
            <p class="text-center text-3xl mt-4 font-semibold">Who Won The Toss?</p>
            <ul class="grid w-full mt-4 gap-6 md:grid-cols-2">
                <li>
                    <input type="radio" formControlName="winTheToss" id="team1" name="winTheToss" value="team1" class="hidden peer" required />
                    <label for="team1" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img [src]="match.team1.logo" alt="" width="30" height="30" class="rounded-full mr-3"> {{match.team1.name}}</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="radio" formControlName="winTheToss" id="team2" name="winTheToss" value="team2" class="hidden peer" required />
                    <label for="team2" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img [src]="match.team2.logo" alt="" width="30" height="30" class="rounded-full mr-3"> {{match.team2.name}}</div>
                        </div>
                    </label>
                </li>
            </ul>
            <ul class="grid w-full mt-4 gap-6 md:grid-cols-2">
                <li>
                    <input type="radio" formControlName="selected" id="bat-first" name="selected" value="Bat First" class="hidden peer" required />
                    <label for="bat-first" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img src="./assets/icons/bat.png" alt="ball" width="30" height="30"> Bat First</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="radio" formControlName="selected" id="bowl-first" name="selected" value="Bowl First" class="hidden peer" required />
                    <label for="bowl-first" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img src="./assets/icons/ball.png" alt="ball" width="30" height="30"> Bowl First</div>
                        </div>
                    </label>
                </li>
            </ul>
        <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out" (click)="saveTheToss()">Save</button>
    </form>
    </p-dialog>

    <!-- Select Batsman -->
    <p-dialog header="Header" [(visible)]="selectStriker" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" *ngIf="match.toss">
        <form [formGroup]="strikerForm">
            <div>
                <p class="mb-2 font-semibold">Please Striker</p>
                <div class="flex items-center mb-4" *ngFor="let player of match[battingTeam].players">
                    <input formControlName="striker" type="radio" id="{{player.uid}}-s" name="striker" [value]="player" class="hidden peer" required />
                    <label for="{{player.uid}}-s" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex gap-2 items-center"><img src="./assets/icons/bat.png" alt="" class="w-6 h-6"> {{player.name}}</div>
                        </div>
                    </label>
                </div>
            </div>
    
            <div>
                <p class="mb-2 font-semibold">Please Non Striker</p>
                <div class="flex items-center mb-4" *ngFor="let player of match[battingTeam].players">
                    <input formControlName="nonStriker" type="radio" id="{{player.uid}}-n" name="nonStriker" [value]="player" class="hidden peer" required />
                    <label for="{{player.uid}}-n" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex gap-2 items-center"><img src="./assets/icons/bat.png" alt="" class="w-6 h-6"> {{player.name}}</div>
                        </div>
                    </label>
                </div>
            </div>

        <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out" (click)="saveStriker()">Save</button>
        </form>
    </p-dialog>

    <!-- Select Bowler -->
    <p-dialog header="Header" [(visible)]="selectBowler" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" *ngIf="match.toss">

        <form [formGroup]="bowlerForm">
            <div>
                <p class="mb-2 font-semibold">Please Bowler</p>
                <div class="flex items-center mb-4" *ngFor="let player of match[bowlingTeam].players">
                    <input formControlName="bowler" type="radio" id="{{player.id}}-bw" name="bowler" [value]="player" class="hidden peer" required />
                    <label for="{{player.id}}-bw" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex gap-2 items-center"><img src="./assets/icons/ball.png" alt="" class="w-6 h-6"> {{player.name}}</div>
                        </div>
                    </label>
                </div>
            </div>
        <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out" (click)="saveBowler()">Save</button>
        </form>
    </p-dialog>
</ng-container>
