<div class="match-container">
    <ng-container *ngIf="match">
        <div class="flex flex-wrap justify-end items-center gap-2 mb-4">
            <div class="w-max xl:hidden">
                <div class=" relative inline-block text-left dropdown">
                    <span class="rounded-md shadow-sm"
                    ><button class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg flex text-sm px-5 py-2.5 text-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 gap-2 items-center" 
                    type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                        <span>Share via</span>
                        <svg class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button
                    ></span>
                    <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                    <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                        <div class="py-1">
                        <a [href]="whatsappUrl" target="_blank" tabindex="0" class="text-gray-700 flex gap-2 w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >
                            <img src="./assets/icons/whatsapp.png" width="20" height="20" alt="facebook share">
                            Share on whatsapp</a>
                        
                        <a href="facebookUrl" target="_blank" tabindex="0" class="text-gray-700 flex gap-2 w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >
                            <img src="./assets/icons/facebook.png" width="20" height="20" alt="facebook share">
                            Share on facebook</a>
                        
                        <a href="javascript:void(0)" (click)="copyToClipBoard()" tabindex="0" class="text-gray-700 flex gap-2 w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >
                            <img src="./assets/icons/copy.png" width="20" height="20" alt="facebook share">
                            Copy link</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>   
            <button (click)="copyToClipBoard()" type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 gap-2 items-center hidden xl:flex">
                <input type="text" value="{{matchUrl}}" class="mt-1 hidden" id="copylink" style="width: 90%">
                <img src="./assets/icons/copy.png" width="20" height="20" alt="facebook share">
                Copy link
            </button>
            <a target="_blank" [href]="facebookUrl" class="text-gray-900 bg-white hover:bg-gray-100 border border-blue-200 focus:ring-4 focus:outline-none focus:ring-blue-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 gap-2 items-center hidden xl:flex">
                <img src="./assets/icons/facebook.png" width="20" height="20" alt="facebook share">
                Share on facebook
            </a>
            <a target="_blank" [href]="whatsappUrl" class="text-gray-900 bg-white hover:bg-gray-100 border border-green-200 focus:ring-4 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 gap-2 items-center hidden xl:flex">
                <img src="./assets/icons/whatsapp.png" width="22" height="22" alt="whatsapp share">
                Share on whatsapp
            </a>
            <button class="outline-btn flex gap-2 items-center" (click)="deleteMatch()" *ngIf="(userId === match.userId || isAdmin) && !match?.isCompletedMatch">
                <img src="./assets/icons/delete.png" alt="" width="20" width="20">
                Delete Match
            </button>
        </div>
        <div class="match">
            <div class="border border-gray-200 bg-gray-100 rounded-md p-2 sm:p-4">
                <div class="match-team flex mb-4 gap-2 items-center">
                    <img [src]="match?.team1?.logo" alt="team" class="w-10 h-10 ml-2 rounded-full">
                    {{match?.team1?.name}}
                    <span class="match-score">{{matchRunsDetail.team1.runs ?? 0}}/{{matchRunsDetail.team1.wickets ?? 0}}</span>
                    <span class="match-overs">({{matchRunsDetail.team1.overs}})</span>
                </div>
        
                <div class="match-team flex mb-4 gap-2 items-center">
                    <img [src]="match?.team2?.logo" alt="team" class="w-10 h-10 ml-2 rounded-full">
                    {{match?.team2?.name}}
                    <span class="match-score">{{matchRunsDetail.team2.runs ?? 0}}/{{matchRunsDetail.team2.wickets ?? 0}}</span>
                    <span class="match-overs">({{matchRunsDetail.team2.overs}})</span>
                </div>
                
                <ng-container *ngIf="userId === match.userId">
                    <button class="btn mt-2" (click)="openTheToss()" *ngIf="!match?.isStarted && !match?.isCompletedMatch">Start Match</button>
                </ng-container>
            </div>
        </div>

        <div class="runrate mt-4 p-2 sm:p-4 rounded-md bg-orange-50 border-orange-300 border`" *ngIf="!match?.matchResult">
            <span class="pr-8"> CRR: {{calculateRunRate(matchRunsDetail[match?.battingTeam]?.runs, matchRunsDetail[match?.battingTeam]?.overs)}} </span>
            <span *ngIf="match?.isFirstInnigCompelted && match?.striker?.id">RR: {{
            calculateRequiredRunRate(
                matchRunsDetail[match.bowlingTeam]?.runs, 
                match.overs, 
                matchRunsDetail[match.battingTeam]?.runs, 
                matchRunsDetail[match.battingTeam]?.overs)}}</span>
        </div>

        <div class="runrate mt-4 p-2 sm:p-4 rounded-md bg-green-100 border-green-300 border`" *ngIf="match?.matchResult">
            {{match?.matchResult}}
        </div>

    

        <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px">
                <li class="me-2" (click)="selectTab('commentry')">
                    <a class="inline-block cursor-pointer p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    [class.active-tab]="selectedTab === 'commentry'">Commentry</a>
                </li>
                <li class="me-2" (click)="selectTab('scorecard'); getTeamScore(match.battingTeam)">
                    <a class="inline-block cursor-pointer p-4 rounded-t-lg" aria-current="page" 
                    [class.active-tab]="selectedTab === 'scorecard'">Scorecard</a>
                </li>
                <li class="me-2" (click)="selectTab('match-detail')">
                    <a class="inline-block cursor-pointer p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    [class.active-tab]="selectedTab === 'match-detail'">Match Detail</a>
                </li>
            </ul>
        </div>

        <ng-container *ngIf="selectedTab === 'commentry'">
            <ng-container *ngIf="userId === match.userId && !match?.isCompletedMatch">
                <div class="flex gap-3" *ngIf="match.isStarted">
                    <button class="btn mt-2" (click)="openStriker()" *ngIf="(!match?.striker?.id || !match?.nonStriker?.id) && this.matchRunsDetail[this.battingTeam].wickets !== this.match[this.battingTeam].players.length - 1">Select The Batsman</button>
                    <button class="btn mt-2" (click)="openBowler()" *ngIf="!match.bowler?.id">Select The Bowler</button>
                    <button class="btn mt-2" (click)="switchBatsman()" *ngIf="match?.striker?.id && match?.nonStriker?.id">Switch Batsman</button>
                </div>
            </ng-container>
            
            <div class="score mt-5" *ngIf="match?.striker?.id || match?.nonStriker?.id || match?.bowler?.id">
                <h1 class="section-heading">Scores</h1>
            
                <div class="score-table" *ngIf="match.striker?.id || match.nonStriker?.id">
                    <div class="score-table-row !bg-transparent !border-none">
                        <p>Name</p>
                        <p>R</p>
                        <p>B</p>
                        <p>4s</p>
                        <p>6s</p>
                        <p>SR</p>
                    </div>
                    <div class="score-table-row" *ngIf="match.striker.id">
                        <p>{{match.striker.name}}<span class="text-red-500 text-xl font-semibold">*</span></p>
                        <p class="font-semibold">{{match.striker.runs ?? 0}}</p>
                        <p>{{match.striker.facedBalls ?? 0}}</p>
                        <p>{{match.striker.fours ?? 0}}</p>
                        <p>{{match.striker.sixes ?? 0}}</p>
                        <p>{{calculateStrikeRate(match.striker.runs, match.striker.facedBalls)}}</p>
                    </div>
                    <div class="score-table-row" *ngIf="match.nonStriker.id">
                        <p>{{match.nonStriker.name}}</p>
                        <p class="font-semibold">{{match.nonStriker.runs ?? 0}}</p>
                        <p>{{match.nonStriker.facedBalls ?? 0}}</p>
                        <p>{{match.nonStriker.fours ?? 0}}</p>
                        <p>{{match.nonStriker.sixes ?? 0}}</p>
                        <p>{{calculateStrikeRate(match.nonStriker.runs, match.nonStriker.facedBalls)}}</p>
                    </div>
                </div>
                <hr class="my-8" *ngIf="match?.striker?.id || match?.nonStriker?.id">
                <div class="score-table" *ngIf="match?.bowler?.id">
                    <div class="score-table-row !bg-transparent !border-none">
                        <p>Name</p>
                        <p>O</p>
                        <p>M</p>
                        <p>R</p>
                        <p>W</p>
                        <p>ECO</p>
                    </div>
                    <div class="score-table-row">
                        <p>{{match.bowler.name}}</p>
                        <p>{{match.bowler.overs ?? '0.0'}}</p>
                        <p>{{match.bowler.maiden ?? 0}}</p>
                        <p>{{match.bowler.concededRuns ?? 0}}</p>
                        <p>{{match.bowler.wickets ?? 0}}</p>
                        <p>{{calculateEconomy(match.bowler.over, match.bowler.runs)}}</p>
                    </div>
                </div>
            </div>
            
            <ng-container *ngIf="userId === match.userId">
                <div class="bowling" *ngIf="match.bowler?.id">
                    <p [class.disable-bowling]="(!match?.striker?.id || !match?.bowler?.id) && !(match?.outBatsman?.length === match[battingTeam]?.players.length - 1)" (click)="setBowling(0)">0</p>
                    <p [class.disable-bowling]="(!match?.striker?.id || !match?.bowler?.id) && !(match?.outBatsman?.length === match[battingTeam]?.players.length - 1)" (click)="setBowling(1)">1</p>
                    <p [class.disable-bowling]="(!match?.striker?.id || !match?.bowler?.id) && !(match?.outBatsman?.length === match[battingTeam]?.players.length - 1)" (click)="setBowling(2)">2</p>
                    <p [class.disable-bowling]="(!match?.striker?.id || !match?.bowler?.id) && !(match?.outBatsman?.length === match[battingTeam]?.players.length - 1)" (click)="openRunsModal(4)">4</p>
                    <p [class.disable-bowling]="(!match?.striker?.id || !match?.bowler?.id) && !(match?.outBatsman?.length === match[battingTeam]?.players.length - 1)" (click)="openRunsModal(6)">6</p>
                    <p [class.disable-bowling]="(!match?.striker?.id || !match?.bowler?.id) && !(match?.outBatsman?.length === match[battingTeam]?.players.length - 1)" (click)="openWicketModal()">OUT</p>
                </div>
            </ng-container>
        
            <ng-container *ngIf="userId === match.userId">
                <p class="mt-2 text-sm text-red-400" *ngIf="match.isStarted && !match.striker?.id && !match?.isCompletedMatch">Please select striker</p>
                <p class="mt-2 text-sm text-red-400" *ngIf="match.isStarted && !match.bowler?.id && !match?.isCompletedMatch">Please select bowler</p>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedTab === 'scorecard'">
            <div *ngIf="matchRunsDetail.team1.overs > 0 || matchRunsDetail.team2.overs > 0">
                <div class="flex gap-4 mt-8">
                    <button class="outline-btn focus:outline-none focus:ring-0 flex gap-2 items-center mb-4" (click)="getTeamScore(match.battingTeam)" *ngIf="match.isStarted && matchRunsDetail[battingTeam].overs > 0" [ngClass]="{'active': battingTeam === activeScorecard }">
                        <img [src]="match[match?.battingTeam]?.logo" alt="Team Logo" width="30" width="30" class="rounded-full">
                        {{match[match?.battingTeam].name}}
                    </button>
                    <button class="outline-btn focus:outline-none focus:ring-0 flex gap-2 items-center mb-4" (click)="getTeamScore(match.bowlingTeam)" *ngIf="match.isFirstInnigCompelted && matchRunsDetail[bowlingTeam].overs > 0" [ngClass]="{'active': bowlingTeam === activeScorecard }">
                        <img [src]="match[match.bowlingTeam]?.logo" alt="Team Logo" width="30" width="30" class="rounded-full">
                        {{match[match?.bowlingTeam].name}}
                    </button>
                </div>
                <div class="score" *ngIf="team1Players.length > 0">
                    <h1 class="section-heading mt-5">Batters</h1>
                
                    <div class="score-table">
                        <div class="score-table-row !bg-transparent !border-none">
                            <p>Name</p>
                            <p>R</p>
                            <p>B</p>
                            <p>4s</p>
                            <p>6s</p>
                            <p>SR</p>
                        </div>
                        <ng-container *ngFor="let player of team1Players">
                            <div class="score-table-row" *ngIf="player?.match?.facedBalls">
                                <p class="grid grid-cols-[1fr_.8fr]"><span>{{player.name}}</span><span class="ml-2 flex items-center text-xs text-gray-500">{{getPlayerCurrentStatus(player)}}</span></p>
                                <p class="font-semibold">{{player?.match?.runs ?? 0}}</p>
                                <p>{{player?.match?.facedBalls ?? 0}}</p>
                                <p>{{player?.match?.fours ?? 0}}</p>
                                <p>{{player?.match?.sixes ?? 0}}</p>
                                <p>{{calculateStrikeRate(player?.match?.runs ?? 0, player?.match?.facedBalls ?? 0)}}</p>
                            </div>
                        </ng-container>
                    </div>
                    <h1 class="section-heading mt-10">Bowlers</h1>
                    <div class="score-table">
                        <div class="score-table-row !bg-transparent !border-none">
                            <p>Name</p>
                            <p>O</p>
                            <p>M</p>
                            <p>R</p>
                            <p>W</p>
                            <p>ECO</p>
                        </div>
                        <ng-container *ngFor="let player of team2Players">
                            <div class="score-table-row" *ngIf="player?.match?.overs && player?.match?.overs != '0.0'">
                                <p>{{player.name}}</p>
                                <p>{{player?.match?.overs ?? '0.0'}}</p>
                                <p>{{player?.match?.maiden ?? 0}}</p>
                                <p>{{player?.match?.concededRuns ?? 0}}</p>
                                <p>{{player?.match?.wickets ?? 0}}</p>
                                <p>{{calculateEconomy(player?.match?.over ?? 0, player?.match?.runs ?? 0)}}</p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="selectedTab === 'match-detail'">
            
            <ul class="max-w-xl divide-y match-detail divide-gray-200">
                <li class="py-3 sm:py-4">
                    <div class="match-detail-row">
                        <div class="flex-1 min-w-0">
                            <p class="font-medium text-gray-700 truncat">
                                Venue
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold ml-auto text-gray-900">
                            {{match.venue}}
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="match-detail-row">
                        <div class="flex-1 min-w-0">
                            <p class="font-medium text-gray-700 truncat">
                                Date
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold ml-auto text-gray-900">
                            {{match.date}}
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4" *ngIf="match.toss">
                    <div class="match-detail-row">
                        <div class="flex-1 min-w-0">
                            <p class="font-medium text-gray-700 truncat">
                                Toss
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold ml-auto text-gray-900">
                            <img [src]="match[match?.toss?.winTheToss].logo" width="30" height="30" class="rounded-full mr-2"> {{match[match?.toss?.winTheToss].name}} elected to {{match.toss.selected}}
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4" *ngIf="match.matchResult">
                    <div class="match-detail-row">
                        <div class="flex-1 min-w-0">
                            <p class="font-medium text-gray-700 truncat">
                                Match Result
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold ml-auto text-gray-900">
                            {{match?.matchResult}}
                        </div>
                    </div>
                </li>
            </ul>
 
        </ng-container>
    </ng-container>
</div>



    <!-- TOSS -->
    <p-dialog header="Header" [(visible)]="toss" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" *ngIf="match && toss">
        <app-coin-toss></app-coin-toss>

        <form [formGroup]="tossForm">
            <p class="text-center text-3xl mt-4 font-semibold">Who Won The Toss?</p>
            <ul class="grid w-full mt-4 gap-6 md:grid-cols-2">
                <li>
                    <input type="radio" formControlName="winTheToss" id="team1" name="winTheToss" value="team1" class="hidden peer" required />
                    <label for="team1" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img [src]="match.team1.logo" alt="" width="30" height="30" class="rounded-full mr-3"> {{match.team1.name}}</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="radio" formControlName="winTheToss" id="team2" name="winTheToss" value="team2" class="hidden peer" required />
                    <label for="team2" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img [src]="match.team2.logo" alt="" width="30" height="30" class="rounded-full mr-3"> {{match.team2.name}}</div>
                        </div>
                    </label>
                </li>
            </ul>
            <ul class="grid w-full mt-4 gap-6 md:grid-cols-2">
                <li>
                    <input type="radio" formControlName="selected" id="bat-first" name="selected" value="Bat First" class="hidden peer" required />
                    <label for="bat-first" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img src="./assets/icons/bat.png" alt="ball" width="30" height="30"> Bat First</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="radio" formControlName="selected" id="bowl-first" name="selected" value="Bowl First" class="hidden peer" required />
                    <label for="bowl-first" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                        <div class="block">
                            <div class="w-full flex items-center gap-3 justify-center"><img src="./assets/icons/ball.png" alt="ball" width="30" height="30"> Bowl First</div>
                        </div>
                    </label>
                </li>
            </ul>
        <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out" (click)="saveTheToss()">Save</button>
    </form>
    </p-dialog>

    <!-- Select Batsman -->
    <p-dialog header="Header" [(visible)]="selectStriker" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" *ngIf="match && match.toss && selectStriker">
        <form [formGroup]="strikerForm">
            <div *ngIf="!match?.striker?.id">
                <p class="mb-2 font-semibold">Please Select Striker</p>
                <ng-container  *ngFor="let player of match[battingTeam].players">
                    <div class="flex items-center mb-4" *ngIf="!match?.striker?.id && !match.outBatsman.includes(player?.id) && player?.id != match?.nonStriker?.id && player?.id != strikerForm.value?.nonStriker?.id">
                        <input formControlName="striker" type="radio" id="{{player.uid}}-s" name="striker" [value]="player" class="hidden peer" required />
                        <label for="{{player.uid}}-s" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100"
                        [class.active-bg-label]="strikerForm?.value?.striker?.id === player?.uid">                           
                            <div class="block">
                                <div class="w-full flex gap-2 items-center"><img src="./assets/icons/bat.png" alt="" class="w-6 h-6"> {{player.name}}</div>
                            </div>
                        </label>
                    </div>
                </ng-container>
            </div>
    
            <div *ngIf="!match?.nonStriker?.id">
                <p class="mb-2 font-semibold">Please Select Non Striker</p>
                <ng-container *ngFor="let player of match[battingTeam].players">
                    <div class="flex items-center mb-4"  *ngIf="!match?.nonStriker?.id && !match.outBatsman.includes(player?.id) && player?.id != match?.striker?.id && player?.id != strikerForm.value?.striker?.id">
                        <input formControlName="nonStriker" type="radio" id="{{player.uid}}-n" name="nonStriker" [value]="player" class="hidden peer" required />
                        <label for="{{player.uid}}-n" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100" [class.bg-red-500]="match.outBatsman.includes(player?.id)" [class.active-bg-label]="strikerForm?.value?.nonStriker?.id === player?.uid">                           
                            <div class="block">
                                <div class="w-full flex gap-2 items-center"><img src="./assets/icons/bat.png" alt="" class="w-6 h-6"> {{player.name}}</div>
                            </div>
                        </label>
                    </div>
                </ng-container>
            </div>
        <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out" [disabled]="!strikerForm?.value?.striker?.id && !strikerForm?.value?.nonStriker?.id" (click)="saveStriker()">Save</button>
        </form>
    </p-dialog>

    <!-- Select Bowler -->
    <p-dialog header="Header" [(visible)]="selectBowler" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" *ngIf="match && match.toss && selectBowler">

        <form [formGroup]="bowlerForm">
            <div>
                <p class="mb-2 font-semibold">Please Bowler</p>
                <div class="flex items-center mb-4" *ngFor="let player of match[bowlingTeam].players">
                    <input formControlName="bowler" type="radio" id="{{player.id}}-bw" name="bowler" [value]="player" class="hidden peer" required />
                    <label for="{{player.id}}-bw" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100"
                    [class.active-bg-label]="bowlerForm?.value?.bowler?.id === player?.uid">                           
                        <div class="block">
                            <div class="w-full flex gap-2 items-center"><img src="./assets/icons/ball.png" alt="" class="w-6 h-6"> {{player.name}}</div>
                        </div>
                    </label>
                </div>
            </div>
        <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out"[disabled]="!bowlerForm?.value?.bowler?.id" (click)="saveBowler()">Save</button>
        </form>
    </p-dialog>

    <!-- Select Runs -->
    <p-dialog [header]="'Hit ' + selectedRuns + ' Runs'" [(visible)]="selectRuns" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
        <div class="mx-auto">
            <img class="mx-auto" src="./assets/icons/6runs.png" alt="" width="250" height="250" *ngIf="selectedRuns === 6">
            <img class="mx-auto" src="./assets/icons/4runs.png" alt="" width="250" height="250" *ngIf="selectedRuns === 4"> 
            <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out" (click)="setBowling(selectedRuns)">Save</button>
        </div>
    </p-dialog>

    <!-- Select Wickets -->
    <p-dialog [header]="'Wicket'" [(visible)]="displayWicket" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" *ngIf="displayWicket && match.toss">
        <div class="mx-auto wickets">
            <div class="wickets-container">
                <div class="flex justify-center items-center flex-col" [class.active-wicket]="wicketType === 'Bowled'">
                    <img class="mx-auto cursor-pointer" src="./assets/icons/bowled.png" alt="" width="200" height="200" (click)="selectWicketType('Bowled')">
                    <p class="font-semibold">Bowled</p>
                </div>
                <div class="flex justify-center items-center flex-col" [class.active-wicket]="wicketType === 'Catch'">
                    <img class="mx-auto cursor-pointer" src="./assets/icons/catch.png" alt="" width="200" height="200" (click)="selectWicketType('Catch')">
                    <p class="font-semibold">Catch Out</p>
                </div>
                <div class="flex justify-center items-center flex-col" [class.active-wicket]="wicketType === 'Stump'">
                    <img class="mx-auto cursor-pointer" src="./assets/icons/stump-out.png" alt="" width="200" height="200" (click)="selectWicketType('Stump')">
                    <p class="font-semibold">Stump Out</p>
                </div>
                <div class="flex justify-center items-center flex-col" [class.active-wicket]="wicketType === 'Runout'">
                    <img class="mx-auto cursor-pointer" src="./assets/icons/runout.png" alt="" width="200" height="200" (click)="selectWicketType('Runout')">
                    <p class="font-semibold">Run Out</p>
                </div>
            </div>
            <div class="mb-5" *ngIf="wicketType != 'Bowled'">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                <p-dropdown [options]="match[bowlingTeam].players" optionLabel="name" [appendTo]="'body'" placeholder="Select Player" [(ngModel)]="selectedPlayer"></p-dropdown>
            </div>
            <button class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out" (click)="setBowling('OUT')">Save</button>
        </div>
    </p-dialog>

    <div class="mdc-snackbar"><div class="mdc-snackbar__surface"><div class="mdc-snackbar__label" role="status" aria-live="polite">Copied!</div><div class="mdc-snackbar__actions">
        <!-- <span class="material-icons">Close</span>  -->
        <!-- <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button> -->
    </div></div></div>