<div>

  <div class="mb-8" *ngIf="finalMatch?.status === 'completed'">
    <app-league-winner [match]="finalMatch" [league]="league"></app-league-winner>
  </div>

  <div class="hero-bg w-full relative rounded-md">
    <div class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent rounded-md"></div>
    <div class="max-w-7xl mx-auto h-full flex items-center relative sm:px-8 p-4">
      <div class="text-white sm:max-w-2xl sm:w-auto w-full">
        <h1 class="sm:text-5xl text-2xl font-bold sm:mb-6 mb-3">{{league?.name}}</h1>
        <p class="sm:text-xl text-sm text-gray-200 sm:mb-8 mb-4">
          Stay updated with live runs, match schedules and results from
          around the world
        </p>
        <div class="flex items-center sm:gap-6 flex-wrap gap-2">
          <div class="flex items-center gap-3 bg-white/10 backdrop-blur px-4 py-2 rounded-full pill"
            *ngIf="!(league?.teams?.length > 1)">
            <span class="w-2 h-2 bg-red-500 rounded-full animate-pulse"></span>
            <span class="text-white">No Teams Joined Yet</span>
          </div>

          <div
            class="flex whitespace-nowrap items-center gap-3 bg-white/10 backdrop-blur px-4 py-2 rounded-full pill cursor-pointer"
            (click)="copyToClipBoard()" *ngIf="league?.userId === user?.uid">
            <input type="text" value="{{league?.leagueCode}}" class="mt-1 hidden" id="copylink" style="width: 90%">
            <span class="text-white">League Code: {{league?.leagueCode}}</span>
            <i class="ri-file-copy-line"></i>
          </div>

          <div
            class="whitespace-nowrap flex items-center gap-3 bg-white/10 backdrop-blur px-4 py-2 rounded-full pill cursor-pointer"
            *ngIf="league?.teams?.length > 1">
            <i class="ri-team-line mr-1"></i>
            <span class="text-white">Teams: {{league?.teams?.length}}</span>
          </div>

          <div
            class="whitespace-nowrap flex items-center gap-3 bg-white/10 backdrop-blur px-4 py-2 rounded-full pill cursor-pointer"
            *ngIf="league?.teams?.length > 1">
            <i class="ri-basketball-fill"></i>
            <span class="text-white">{{league?.oversMatch}} Overs Match</span>
          </div>

          <div
            class="whitespace-nowrap flex items-center gap-3 bg-white/10 backdrop-blur px-4 py-2 rounded-full pill cursor-pointer"
            *ngIf="allMatches?.length">
            <i class="ri-basketball-fill"></i>
            <span class="text-white"> Total {{allMatches?.length}} Matches</span>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="league-menu mb-16" *ngIf="(league?.teams?.length > 1)">
    <ng-container *ngIf="allMatches?.length > 0">
      <button class="text-gray-900 font-medium hover:text-primary transition-colors"
        [class.active]="selectedTab === 'fixtures'" (click)="selectedTab = 'fixtures'"> Fixtures </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors"
        [class.active]="selectedTab === 'point-table'"
        (click)="setMatchType('all'); selectedTab = 'point-table'; generatePointsTable();"> Point Tables </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors"
        [class.active]="selectedTab === 'playoffs'" (click)="selectedTab = 'playoffs'; generatePlayOffs()"
        [class.disabled]="totalMatches != completedMatches"> PlayOffs</button>
    </ng-container>

    <ng-container *ngIf="!allMatches?.length && league?.userId === user?.uid">
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" (click)="generateFixtures()">
        <span *ngIf="fixturesLoading">
          <app-spinner></app-spinner>
        </span>

        <span *ngIf="!fixturesLoading"> Generate Fixtures </span>
      </button>
    </ng-container>
  </div>

  <ng-container *ngIf="fixturesLoading || isPlayOffLoading">
    <app-spinner [dotLoader]="false"></app-spinner>
  </ng-container>

  <div class="max-w-7xl mx-auto sm:px-8 px-2 pb-4 sm:pb-16" *ngIf="selectedTab === 'fixtures'">
    <div class="flex items-center justify-between mb-6 flex-wrap gap-3 sm:gap-0" *ngIf="allMatches?.length > 0">
      <div class="flex items-center sm:gap-8 flex-wrap gap-4">
        <button class="theme-text btn-tab" [class.active]="matchType === 'all'" (click)="setMatchType('all')">
          All Matches
        </button>
        <button class="theme-text btn-tab" [class.active]="matchType === 'completed'"
          (click)="setMatchType('completed')">
          Completed
        </button>
        <button class="theme-text btn-tab" [class.active]="matchType === 'upcoming'" (click)="setMatchType('upcoming')">
          Upcoming
        </button>

        <button class="theme-text btn-tab" [class.active]="matchType === 'mymatches'"
          (click)="setMatchType('mymatches')">
          My Matches
        </button>

        <button class="theme-text btn-tab">
          {{fixtures?.length}} Matches
        </button>
      </div>
      <div class="flex items-center gap-3 search-input">
        <div class="relative">
          <input type="text" placeholder="Search matches..." (input)="searchMatches($event)"
            class="pl-10 pr-4 py-2 rounded-full bg-gray-100 focus:outline-none focus:ring-2 focus:ring-primary/20 w-64" />
          <i class="ri-search-line absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-2 justify-end mb-12" *ngIf="allMatches?.length > 0">
      <button class="w-fit" (click)="toggleView('list')">
        <img src="./assets/icons/list.png" alt="" width="40" width="40">
      </button>

      <button class="w-fit" (click)="toggleView('grid')">
        <img src="./assets/icons/grid.png" alt="" width="40" width="40">
      </button>
    </div>

    <div class="grid matches-container gap-6" [class.grid-cols-1]="view === 'list'"
      [class.grid-cols-2]="view === 'grid'" id="matchContainer">

      <ng-container *ngFor="let fixture of fixtures; trackBy: trackById">
        <div
          class="match-card rounded-2xl shadow-lg hover:shadow-xl transition-all duration-300 cursor-pointer overflow-hidden">
          <div class="relative">
            <div class="absolute top-4 right-4 flex items-center gap-2">
              <div class="flex items-center gap-2 bg-gray-50 px-3 py-1 rounded-full status-pill"
                *ngIf="fixture?.status === 'upcoming'">
                <i class="ri-time-line text-gray-600"></i>
                <span class="text-gray-600 font-medium">Upcoming</span>
              </div>

              <div class="flex items-center gap-2 bg-green-50 px-3 py-1 rounded-full status-pill"
                *ngIf="fixture?.status === 'completed' && fixture?.result !== 'abondoned'">
                <i class="ri-checkbox-circle-line text-green-600"></i>
                <span class="text-green-600 font-medium">Completed</span>
              </div>

              <div class="flex items-center gap-2 bg-red-50 px-3 py-1 rounded-full status-pill"
                *ngIf="fixture?.result === 'abondoned'">
                <i class="ri-checkbox-circle-line text-red-600"></i>
                <span class="text-red-600 font-medium">Abondoned</span>
              </div>
            </div>

            <ng-container *ngIf="fixture?.status === 'completed'">
              <div *ngIf="fixture?.team_one?.runs > fixture?.team_two?.runs"
                class="status-pill w-full bg-gradient-to-r from-green-500 to-green-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
                <i class="ri-trophy-line"></i>
                <span>{{getTeamDetails(fixture?.team_one)?.team?.name}} Won The Match!</span>
              </div>

              <div *ngIf="fixture?.team_two?.runs > fixture?.team_one?.runs"
                class="status-pill w-full bg-gradient-to-r from-green-500 to-green-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
                <i class="ri-trophy-line"></i>
                <span>{{getTeamDetails(fixture?.team_two)?.team?.name}} Won The Match!</span>
              </div>

              <div *ngIf="fixture?.team_two?.runs === fixture?.team_one?.runs && fixture?.result != 'abandoned'"
                class="status-pill w-full bg-gradient-to-r from-yellow-400 to-yellow-500 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
                <span>It's a Draw!</span>
              </div>

              <div *ngIf="fixture?.result === 'abandoned'"
                class="status-pill w-full bg-gradient-to-r from-red-500 to-red-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
                <span>Match Abandoned!</span>
              </div>

            </ng-container>


            <div class="p-6">
              <div class="flex items-center gap-2 mb-4">
                <i class="ri-trophy-line theme-text"></i>
                <span class="font-medium match-number theme-text">{{league?.name}}: Match
                  {{fixture?.match_number}}</span>
              </div>
              <div
                class="flex sm:items-center items-start justify-center sm:justify-between mb-8 flex-wrap gap-2 sm:gap-1"
                [class.!items-center]="fixture?.status != 'completed' || fixture?.result !== 'draw'">
                <div class="flex items-center gap-4 flex-1 match-team-info">
                  <img
                    [src]="getTeamDetails(fixture?.team_one)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                    class="w-12 h-12 rounded-full object-cover team-logo" alt="New Zealand">
                  <div>
                    <a [routerLink]="['/stats', fixture?.team_one?.id]"
                      class="team-name font-semibold text-lg theme-text">{{getTeamDetails(fixture?.team_one)?.team?.name
                      ?? 'TBD'}}</a>
                    <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                      [class.!text-red-500]="fixture?.team_two?.runs > fixture?.team_one?.runs"
                      [class.!text-green-500]="fixture?.team_one?.runs > fixture?.team_two?.runs"
                      class="text-2xl font-bold match-team-score theme-text">
                      {{fixture?.team_one?.runs}}/{{fixture?.team_one?.wickets}}</div>
                    <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                      class="text-sm text-gray-500">{{ballsToOvers(fixture?.team_one?.balls)}} overs</div>
                  </div>
                </div>
                <div class="px-6 sm:mx-0 mx-auto">
                  <!-- <div class="text-gray-400 font-medium text-lg mb-2">VS</div> -->
                  <img src="https://scores.bcci.tv/matchcentre/mcv3/images/versus-v2.png?v=1" alt=""
                    style="height: auto; width: 30px;">
                </div>
                <div class="flex items-center gap-4 flex-1 match-team-info justify-end sm:flex-row flex-row-reverse">
                  <div class="text-right ml-auto">
                    <a [routerLink]="['/stats', fixture?.team_two?.id]"
                      class="team-name font-semibold text-lg theme-text">{{getTeamDetails(fixture?.team_two)?.team?.name
                      ?? 'TBD'}}</a>
                    <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                      [class.!text-red-500]="fixture?.team_one?.runs > fixture?.team_two?.runs"
                      [class.!text-green-500]="fixture?.team_two?.runs > fixture?.team_one?.runs"
                      class="text-2xl font-bold match-team-score theme-text">
                      {{fixture?.team_two?.runs}}/{{fixture?.team_two?.wickets}}</div>
                    <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                      class="text-sm text-gray-500">{{ballsToOvers(fixture?.team_two?.balls)}} overs</div>
                  </div>
                  <img
                    [src]="getTeamDetails(fixture?.team_two)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                    class="w-12 h-12 rounded-full object-cover team-logo" alt="Pakistan">
                </div>
              </div>
              <div class="flex items-center justify-between sm:flex-row gap-3 flex-col">
                <div class="flex items-center gap-2">
                  <i class="ri-map-pin-line theme-text-light"></i>
                  <span class="theme-text-light league-venue">{{league?.venue}}</span>
                </div>

                <!-- *ngIf="(fixture?.status != 'completed') && fixture?.team_two?.id && fixture?.team_one?.id && ((league?.userId === user?.uid) || fixture?.team_two?.id === user?.uid || fixture?.team_one?.id === user?.uid)" -->
                <button class="outline-btn update-btn flex gap-2 items-center hover:!bg-transparent"
                  (click)="openMatchResultModal(fixture)">
                  <!-- <img src="./assets/icons/cricket-ball.gif" alt="" width="30" width="30"> -->
                  <iframe width="30px" height="30px"
                    src="https://lottie.host/embed/a907a832-9cfe-42fa-a5ba-460563efc7c5/JBXn3KoqWo.lottie"></iframe>
                  <span class="theme-text">Update Result</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!fixturesLoading && fixtures?.length === 0">
        <div class="flex items-center justify-center mt-10 w-full">
          <div class="text-gray-500 text-center">
            No Fixtures Found
          </div>
        </div>
      </ng-container>
    </div>
  </div>


  <div class="table-container overflow-x-auto shadow-lg rounded-lg" *ngIf="selectedTab === 'point-table'">
    <table class="w-full">
      <thead class="sticky top-0 theme-table-row-odd">
        <tr class="text-sm theme-text font-semibold border-b">
          <th class="px-6 py-4 text-left"></th>
          <th class="px-6 py-4 text-left">Team</th>
          <th class="px-4 py-4 text-center" pTooltip="Matches" tooltipPosition="top">M</th>
          <th class="px-4 py-4 text-center" pTooltip="Points" tooltipPosition="top">Pts</th>
          <th class="px-4 py-4 text-center" pTooltip="Won" tooltipPosition="top">W</th>
          <th class="px-4 py-4 text-center" pTooltip="Lost" tooltipPosition="top">L</th>
          <th class="px-4 py-4 text-center" pTooltip="Draw" tooltipPosition="top">D</th>
          <th class="px-4 py-4 text-center" pTooltip="Runs For" tooltipPosition="top">RF</th>
          <th class="px-4 py-4 text-center" pTooltip="Overs Faced" tooltipPosition="top">OF</th>
          <th class="px-4 py-4 text-center" pTooltip="Runs Against" tooltipPosition="top">RA</th>
          <th class="px-4 py-4 text-center" pTooltip="Overs Bowled" tooltipPosition="top">OB</th>
          <td class="px-4 py-4 text-center" pTooltip="Wickets Taken" tooltipPosition="top">Wkts T.</td>
          <td class="px-4 py-4 text-center" pTooltip="Wickets Fallen" tooltipPosition="top">Wkts F.</td>
          <th class="px-4 py-4 text-center" pTooltip="Net Run Rate" tooltipPosition="top">NRR</th>
          <th class="px-4 py-4 text-center">Win%</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let team of pointTable; let i = index; trackBy: trackById">
          <tr class="theme-table-row-odd transition-colors duration-200 cursor-pointer"
            [class.theme-table-row-even]="i % 2 === 0">
            <td class="px-4 py-4 whitespace-nowrap">
              <button class="matches-btn" (click)="toggleExpand(i)" *ngIf="team?.matches?.length > 0">
                <i class="ri-arrow-right-s-line text-white transition-transform duration-300"
                  [class.rotate-90]="expandedRow === i"></i>
              </button>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <a class="flex items-center gap-3 team-name" [routerLink]="['/stats', team?.id]">
                <img [src]="getTeamDetails(team)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                  alt="match?.team_one?.id === team?.id ? match?.team_two?.name : match?.team_one?.name" class="w-8 h-8 rounded-full object-cover" />
                <span class="font-semibold theme-text whitespace-nowrap">{{getTeamDetails(team)?.team?.name}}</span>
                <img src="/assets/icons/orangecap.png" style="min-width: 30px;" alt="" width="30" height="30"
                  *ngIf="team?.id === orangecap?.id">
                <img src="/assets/icons/purplecap.png" style="min-width: 30px;" alt="" width="30" height="30"
                  *ngIf="team?.id === purplecap?.id">
              </a>
            </td>
            <td class="px-4 theme-text py-4 text-center">{{team?.played}}</td>
            <td class="px-4 theme-text py-4 text-center font-semibold">{{team?.pts}}</td>
            <td class="px-4 py-4 text-center text-green-600 font-medium">{{team?.win}}</td>
            <td class="px-4 py-4 text-center text-red-600 font-medium">{{team?.loss}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.draw}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.runsFor}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.oversFaced}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.runsAgainst}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.oversBowled}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.wicketsTaken}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.wicketsFallen}}</td>
            <td class="px-4 theme-text py-4 text-center" [class.!text-green-600]="+(team?.nrr) > 0"
              [class.!text-red-600]="0 > +(team?.nrr)">{{team?.nrr}}</td>
            <td class="px-4 theme-text py-4 text-center">{{team?.winPercentage}}</td>
          </tr>
          <!-- Expandable Row -->
          <tr class="theme-table-row-odd"
          [class.theme-table-row-even]="expandedRow % 2 === 0">
            <td></td>
            <td colspan="14" class="px-6 py-0 m-0">
              <div [@expandCollapse]="expandedRow === i ? 'expanded' : 'collapsed'"
                   class="overflow-hidden px-4 py-2">
                   <ng-container *ngFor="let match of team?.matches; let i = index; trackBy: trackById">
                    <div class="mb-2 flex items-center match-history">
                    
                    
                      <!-- Current Team -->
                      <div class="flex items-center">
                        <a class="flex items-center gap-3 team-name"
                           [routerLink]="['/stats', match?.team_one?.id === team?.id ? match?.team_one?.id : match?.team_two?.id]">
                          <img [src]="getTeamDetails(match?.team_one?.id === team?.id ? match?.team_one : match?.team_two)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                               alt="Your Team Logo"
                               class="w-6 h-6 rounded-full object-cover" />
                          <span class="font-semibold theme-text whitespace-nowrap">
                            {{ getTeamDetails(match?.team_one?.id === team?.id ? match?.team_one : match?.team_two)?.team?.name }}
                          </span>
                    
                          <!-- Score with class applied based on team.id only -->
                          <span class="font-semibold theme-text-light whitespace-nowrap"
                                [ngClass]="{
                                  'Won': (match?.team_one?.id === team?.id && match?.team_one?.runs > match?.team_two?.runs) ||
                                         (match?.team_two?.id === team?.id && match?.team_two?.runs > match?.team_one?.runs),
                                  'Draw': match?.team_one?.runs === match?.team_two?.runs,
                                  'Lost': (match?.team_one?.id === team?.id && match?.team_one?.runs < match?.team_two?.runs) ||
                                          (match?.team_two?.id === team?.id && match?.team_two?.runs < match?.team_one?.runs)
                                }">
                            ({{ match?.team_one?.id === team?.id ? match?.team_one?.runs : match?.team_two?.runs }}/
                             {{ match?.team_one?.id === team?.id ? match?.team_one?.wickets : match?.team_two?.wickets }}) &nbsp; <span class="overs-text"> {{match?.team_one?.id === team?.id ? ballsToOvers(match?.team_one?.balls) : ballsToOvers(match?.team_two?.balls)}} overs</span>
                          </span>
                        </a>
                      </div>

                      <img src="https://i.postimg.cc/8cWKvdbg/vs.png" alt="vs" width="60" height="60" />

                      <!-- Opponent Team -->
                      <div class="flex items-center">
                        <a class="flex items-center gap-3 team-name"
                           [routerLink]="['/stats', match?.team_one?.id === team?.id ? match?.team_two?.id : match?.team_one?.id]">
                          <img [src]="getTeamDetails(match?.team_one?.id === team?.id ? match?.team_two : match?.team_one)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                               alt="Opponent Logo"
                               class="w-6 h-6 rounded-full object-cover" />
                          <span class="font-semibold theme-text whitespace-nowrap">
                            {{ getTeamDetails(match?.team_one?.id === team?.id ? match?.team_two : match?.team_one)?.team?.name }}
                          </span>
                          <span class="font-semibold theme-text-light whitespace-nowrap Default">
                            ({{ match?.team_one?.id === team?.id ? match?.team_two?.runs : match?.team_one?.runs }}/
                             {{ match?.team_one?.id === team?.id ? match?.team_two?.wickets : match?.team_one?.wickets }})&nbsp;
                             <span class="overs-text"> {{match?.team_one?.id === team?.id ? ballsToOvers(match?.team_two?.balls) : ballsToOvers(match?.team_one?.balls)}} overs</span>
                          </span>
                        </a>
                      </div>
                    
                    </div>
                  </ng-container>
              </div>
            </td>
          </tr>
        </ng-container>


      </tbody>
    </table>
  </div>

  <div class="grid grid-cols-1 gap-6" id="matchContainer" *ngIf="selectedTab === 'playoffs' && !isPlayOffLoading">
    <ng-container *ngFor="let fixture of playOffs; trackBy: trackById">
      <div
        class="match-card mb-4 rounded-2xl shadow-lg hover:shadow-xl transition-all duration-300 cursor-pointer overflow-hidden">
        <div class="relative">
          <div class="absolute top-4 right-4 flex items-center gap-2">
            <div class="flex items-center gap-2 bg-gray-50 px-3 py-1 rounded-full status-pill"
              *ngIf="fixture?.status === 'upcoming'">
              <i class="ri-time-line text-gray-600"></i>
              <span class="text-gray-600 font-medium">Upcoming</span>
            </div>

            <div class="flex items-center gap-2 bg-green-50 px-3 py-1 rounded-full status-pill"
              *ngIf="fixture?.status === 'completed'">
              <i class="ri-checkbox-circle-line text-green-600"></i>
              <span class="text-green-600 font-medium">Completed</span>
            </div>
          </div>

          <ng-container *ngIf="fixture?.status === 'completed'">
            <div *ngIf="fixture?.team_one?.runs > fixture?.team_two?.runs"
              class="status-pill w-full bg-gradient-to-r from-green-500 to-green-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
              <i class="ri-trophy-line"></i>
              <span>{{getTeamDetails(fixture?.team_one)?.team?.name}} Won The Match!</span>
            </div>

            <div *ngIf="fixture?.team_two?.runs > fixture?.team_one?.runs"
              class="status-pill w-full bg-gradient-to-r from-green-500 to-green-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
              <i class="ri-trophy-line"></i>
              <span>{{getTeamDetails(fixture?.team_two)?.team?.name}} Won The Match!</span>
            </div>

            <div *ngIf="fixture?.team_two?.runs === fixture?.team_one?.runs && fixture?.result != 'abandoned'"
              class="status-pill w-full bg-gradient-to-r from-yellow-500 to-yellow-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
              <span>It's a Draw!</span>
            </div>

            <div *ngIf="fixture?.result === 'abandoned'"
              class="status-pill w-full bg-gradient-to-r from-red-500 to-red-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
              <i class="ri-trophy-line"></i>
              <span>Match Abandoned!</span>
            </div>
          </ng-container>


          <div class="p-6">
            <div class="flex items-center gap-2 mb-4">
              <i class="ri-trophy-line text-primary"></i>
              <span class="font-medium theme-text">{{league?.name}}: Match {{fixture?.match_number}}</span>
            </div>
            <div
              class="flex sm:items-center items-start justify-center sm:justify-between mb-8 flex-wrap gap-2 sm:gap-1"
              [class.!items-center]="fixture?.status != 'completed' || fixture?.result !== 'draw'">
              <div>
                <a [routerLink]="['/stats', fixture?.team_one?.id]"
                  class="team-name font-semibold text-lg theme-text">{{getTeamDetails(fixture?.team_one)?.team?.name}}</a>
                <div class="flex items-center gap-4 flex-1">
                  <img
                    [src]="getTeamDetails(fixture?.team_one)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                    class="w-12 h-12 rounded-full object-cover team-logo" alt="New Zealand">
                  <div>
                    <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                      [class.!text-red-500]="fixture?.team_two?.runs > fixture?.team_one?.runs"
                      [class.!text-green-500]="fixture?.team_one?.runs > fixture?.team_two?.runs"
                      class="text-2xl font-bold theme-text">{{fixture?.team_one?.runs}}/{{fixture?.team_one?.wickets}}
                    </div>
                    <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                      class="text-sm theme-text-light">{{ballsToOvers(fixture?.team_one?.balls)}} overs</div>
                  </div>
                </div>
              </div>
              <div class="px-6">
                <!-- <div class="text-gray-400 font-medium text-lg mb-2">VS</div> -->
                <img src="https://scores.bcci.tv/matchcentre/mcv3/images/versus-v2.png?v=1" alt=""
                  style="height: auto; width: 30px;">
              </div>
              <div class="flex items-center gap-4 flex-1 justify-end">
                <div class="text-right ml-auto">
                  <a [routerLink]="['/stats', fixture?.team_two?.id]"
                    class="team-name font-semibold text-lg theme-text">{{getTeamDetails(fixture?.team_two)?.team?.name}}</a>
                  <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                    [class.!text-red-500]="fixture?.team_one?.runs > fixture?.team_two?.runs"
                    [class.!text-green-500]="fixture?.team_two?.runs > fixture?.team_one?.runs"
                    class="text-2xl font-bold theme-text">{{fixture?.team_two?.runs}}/{{fixture?.team_two?.wickets}}
                  </div>
                  <div *ngIf="fixture?.status !== 'upcoming' && fixture?.result !== 'abandoned'"
                    class="text-sm theme-text-light">{{ballsToOvers(fixture?.team_two?.balls)}} overs</div>
                </div>
                <img
                  [src]="getTeamDetails(fixture?.team_two)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                  class="w-12 h-12 rounded-full object-cover team-logo" alt="Pakistan">
              </div>
            </div>
            <div class="flex items-center justify-between sm:flex-row gap-3 flex-col">
              <div class="flex items-center gap-2">
                <i class="ri-map-pin-line"></i>
                <span class="theme-text-light league-venue">{{league?.venue}}</span>
              </div>

              <!-- *ngIf="(fixture?.status != 'completed') && ((league?.userId === user?.uid) || fixture?.team_two?.id === user?.uid || fixture?.team_one?.id === user?.uid)" -->
              <button class="outline-btn update-btn flex gap-2 items-center !border-red-200 hover:!bg-transparent"
                (click)="openMatchResultModal(fixture)">
                <!-- <img src="./assets/icons/cricket-ball.gif" alt="" width="30" width="30"> -->
                <iframe width="30px" height="30px"
                  src="https://lottie.host/embed/a907a832-9cfe-42fa-a5ba-460563efc7c5/JBXn3KoqWo.lottie"></iframe>
                <span class="theme-text">Update Result</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<p-dialog header="Result: Match {{selectedMatch?.match_number}}" [(visible)]="matchResultModal" [modal]="true" [draggable]="false" [resizable]="false">
  <app-match-result [match]="selectedMatch" (closeMatchResultModal)="closeMatchResultModal($event)"></app-match-result>
</p-dialog>

<div class="mdc-snackbar">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label" role="status" aria-live="polite">Copied!</div>
    <div class="mdc-snackbar__actions">