
@use "@material/snackbar/mdc-snackbar";

@use "@material/snackbar";

.match-card {
  transition: all 0.3s ease;
}
.match-card:hover {
  transform: translateY(-2px);
}
.hero-bg {
  background-image: url('https://public.readdy.ai/ai/img_res/30bb90b2cef33645c4bf13fcd60dd3a9.jpg');
  background-size: cover;
  background-position: center;
  height: 340px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    height: auto;
  }
}

.table-container::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}
.table-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.league-menu {
  @apply flex items-center gap-8 bg-white w-fit mx-auto py-4 px-12 rounded-lg shadow-md relative;
  top: -28px;
  button {
    @apply text-gray-500 hover:text-gray-700 py-2 px-4 rounded-full;
    &.active,
    &:hover {
      @apply bg-gradient-to-r from-blue-700 to-purple-700 text-white;
    }
  }
}

.team-name {
  cursor: pointer;
  transition: all 0.2s ease-in;

  span {
    cursor: pointer;
    transition: all 0.2s ease-in;
  
    &:hover {
      @apply text-purple-700;
      transition: all 0.2s ease-in;
    }
  }
  &:hover {
    @apply text-purple-700;
    transition: all 0.2s ease-in;
  }
}

.matches-container {
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}