<form [formGroup]="teamForm" (ngSubmit)="createTeam()">
    <div class="mb-5">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
      <input type="text" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name" formControlName="name" required />
    </div>

    <div class="mb-5">
        <label for="logo" class="block mb-2 text-sm font-medium text-gray-900">Logo</label>
        <input type="text" id="logo" class="shadow-sm bg-gray-50 hidden border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name" formControlName="logo" required />

        <div class="logos">
            <ng-container *ngFor="let item of Teams | keyvalue">
                <img [src]="item.value" alt="" (click)="setLogoUrl(item.value)" [class.active-logo]="item.value === teamForm.value.logo">
            </ng-container>
        </div>
    </div>

    <div>
        <p class="mb-2">Please Select Players</p>
        <div class="flex items-center mb-4" *ngFor="let player of (players$ | async)">
            <input id="{{player.id}}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-blue-600 focus:ring-2" (change)="addPlayers($event, player)" [checked]="playersIds.includes(player.id)">
            <label for="{{player.id}}" class="ms-2 text-sm font-medium">{{player.name}}</label>
        </div>
    </div>
    <button
        class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-lg mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out"
        type="submit"
    >
    Create Team
    </button>
</form>