<form [formGroup]="leagueForm" (ngSubmit)="createLeague()">
   <div class="mb-5">
        <label for="venue" class="block mb-2 text-sm font-medium text-white">Name</label>
        <input type="text" id="venue" class="shadow-sm bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="League Name" required formControlName="name" />
    </div>

    <div class="mb-5">
        <label for="venue" class="block mb-2 text-sm font-medium text-white">Venue</label>
        <input type="text" id="venue" class="shadow-sm bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Venue" required formControlName="venue" />
    </div>

    <div class="mb-5">
        <label for="matchesPerPair" class="block mb-2 text-sm font-medium text-white">Matches Per Pair</label>
        <input type="number" id="matchesPerPair" class="shadow-sm bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Matches Per Pair" required formControlName="matchesPerPair" />
    </div>

    <div class="mb-5">
        <label for="oversMatch" class="block mb-2 text-sm font-medium text-white">Total Overs</label>
        <input type="number" id="oversMatch" class="shadow-sm bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="oversMatch" required formControlName="oversMatch" />
    </div>

    <div class="mb-5">
        <label for="date" class="block mb-2 text-sm font-medium text-white">Start Date</label>
        <p-calendar [appendTo]="'body'" formControlName="startFrom" placeholder="Select Start Date"></p-calendar>
    </div>

    <!-- <div class="mb-5">
        <label for="maximumOvers" class="block mb-2 text-sm font-medium text-white">Overs</label>
        <input type="number" id="maximumOvers" class="shadow-sm bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Maximum Overs" required formControlName="maximumOvers" />
    </div> -->


    <button
        class="btn w-full flex justify-center items-center"
        type="submit"
        [disabled]="leagueForm.invalid"
    >
    <ng-container *ngIf="isLoading"><app-spinner [white]="true"></app-spinner> </ng-container>
    <ng-container *ngIf="!isLoading">Create League</ng-container>
    </button>
</form>