<div class="flex justify-center items-center h-screen">
    <div
      id="back-div"
      class="bg-gradient-to-r from-blue-500 to-purple-500 rounded-[26px] m-4 signup-container"
    >
      <div
        class="border-[20px] border-transparent rounded-[20px] bg-white shadow-sm p-2 m-2"
      >
        <h1 class="pt-8 pb-6 font-bold text-5xl text-center cursor-default">
          Sign Up
        </h1>
        <form [formGroup]="signupForm" class="space-y-4">
            <div>
                <label for="name" class="mb-1 block text-gray-500 text-lg">Name</label>
                <input
                  id="name"
                  class="border p-2 shadow-sm placeholder:text-base ease-in-out duration-300 border-gray-300 rounded-lg w-full"
                  type="text"
                  placeholder="Name"
                  required
                  formControlName="name"
                />
              </div>
              <div>
                <label for="name" class="mb-1 block text-gray-500 text-lg">Bat</label>
                
                <ul class="grid w-full gap-6 md:grid-cols-2">
                    <li>
                        <input type="radio" formControlName="bat" id="left-hand-bat" name="bat" value="left-hand-bat" class="hidden peer" required />
                        <label for="left-hand-bat" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                            <div class="block">
                                <div class="w-full">Left Hand</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="radio" formControlName="bat" id="right-hand-bat" name="bat" value="right-hand-bat" class="hidden peer" required />
                        <label for="right-hand-bat" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                            <div class="block">
                                <div class="w-full">Right Hand</div>
                            </div>
                        </label>
                    </li>
                </ul>
              </div>
              <div>
                <label for="name" class="mb-1 block text-gray-500 text-lg">Bowl</label>
                <ul class="grid w-full gap-6 md:grid-cols-2">
                    <li>
                        <input type="radio" formControlName="bowl" id="left-hand-bowl" name="bowl" value="left-hand-bowl" class="hidden peer" required />
                        <label for="left-hand-bowl" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                            <div class="block">
                                <div class="w-full">Left Hand</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="radio" formControlName="bowl" id="right-hand-bowl" name="bowl" value="right-hand-bowl" class="hidden peer" required />
                        <label for="right-hand-bowl" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                            <div class="block">
                                <div class="w-full">Right Hand</div>
                            </div>
                        </label>
                    </li>
                </ul>
              </div>
              <div>
                <label for="name" class="mb-1 block text-gray-500 text-lg">Type</label>
                <ul class="grid w-full gap-6 md:grid-cols-2">
                    <li>
                        <input type="radio" formControlName="type" id="batsman" name="type" value="batsman" class="hidden peer" required />
                        <label for="batsman" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                            <div class="block">
                                <div class="w-full">Batsman</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="radio" formControlName="type" id="bowler" name="type" value="bowler" class="hidden peer" required />
                        <label for="bowler" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                            <div class="block">
                                <div class="w-full">Bowler</div>
                            </div>
                        </label>
                    </li>
                    <li>
                      <input type="radio" formControlName="type" id="all-rounder" name="type" value="all-rounder" class="hidden peer" required />
                      <label for="all-rounder" class="inline-flex items-center justify-between w-full shadow-sm p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-100 peer-checked:bg-gray-100">                           
                          <div class="block">
                              <div class="w-full">All Rounder</div>
                          </div>
                      </label>
                  </li>
                </ul>
              </div>
          <div>
            <label for="email" class="mb-2 block text-gray-500 text-lg">Email</label>
            <input
              id="email"
              class="border p-2 shadow-sm placeholder:text-base ease-in-out duration-300 border-gray-300 rounded-lg w-full"
              type="email"
              placeholder="Email"
              required
              formControlName="email"
            />
          </div>
          <div>
            <label for="password" class="mb-2 block text-gray-500 text-lg">Password</label>
            <input
              id="password"
              class="border p-2 shadow-sm  placeholder:text-base ease-in-out duration-300 border-gray-300 rounded-lg w-full"
              type="password"
              placeholder="Password"
              required
              formControlName="password"
            />
          </div>
          <button
            class="bg-gradient-to-r from-blue-500 to-purple-500 shadow-sm mt-6 p-2 text-white rounded-lg w-full hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out"
            (click)="signup()"
          >
            Sign Up
          </button>
          <div class="flex flex-col mt-4 items-center justify-center text-sm">
            <h3>
              Already have an account?
              <a
                class="group text-blue-400 transition-all duration-100 ease-in-out"
                [routerLink]="'/login'"
              >
                <span
                  class="bg-left-bottom bg-gradient-to-r from-blue-400 to-blue-400 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
                >
                  Login
                </span>
              </a>
            </h3>
          </div>
        </form>
      </div>
    </div>
    </div>