.stat-card {
  background: var(--card-bg);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.team-name {
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    @apply text-purple-700;
    transition: all 0.2s ease-in;
  }
}

.league-pill {
  @apply px-4 rounded-full text-center;
  font-size: 12px;
  line-height: normal;
}

.card-row {
  background-color: var(--bg);
}
