.stat-card {
    background: linear-gradient(145deg, #ffffff 0%, #f8fafc 100%);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .team-name {
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          @apply text-purple-700;
          transition: all 0.2s ease-in;
        }
      }