@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
// :where([class^="ri-"])::before { content: "\f3c2"; }
body { font-family: 'Inter', sans-serif; }

.league-card {
    border: 2px solid rgba($color: #000000, $alpha: .05);
    &:hover { 
        // transform: translateY(-2px);
        border-color: #b5ccf8;
     }
}

.bg-icon {
    @apply bg-gradient-to-r from-blue-100 to-purple-100;
}