.main {
    display: flex;

    &-content {
        width: calc(100% - 16rem);
        margin-left: auto;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        @media screen and (max-width: 600px) {
            padding: 10px 10px 75px 10px;
        }
    }
}

.hide-sidebar {
    @apply w-full p-4;
}

::ng-deep app-sidebar {
    z-index: 999;
}