<p-toast></p-toast>
<div [class.main]="!isLoginPage" class="bg-gray-50 main h-screen" >
    <app-sidebar *ngIf="!isLoginPage && !hideSidebar" [class.sidebar-open]="showSidebar"></app-sidebar>
    <div [ngClass]="{'main-content p-8': !isLoginPage && !hideSidebar}" [class.hide-sidebar]="hideSidebar">
        <router-outlet (activate)="checkForLoginPage()"></router-outlet>
    </div>
</div>

<div class="humburger">
    <button (click)="toggleSidebar()" class="humburger-button" [class.animation]="showSidebar">
        <img src="./assets/icons/ball.png" alt="" width="40" height="40">
    </button>
</div>