<ng-container *ngIf="player">
    <div class="mom-card flex justify-between">
        <div>
            <div class="mom-card-title mb-3 sm:mb-5">
                <h1>{{player.name}}</h1>
            </div>
    
            <ng-container *ngIf="player?.match?.runs">
                <div class="font-bold border-b border-gray-200 pb-2 mb-2 sm:pb-3 sm:text-2xl">Batting</div>
        
                <div class="flex gap-4 flex-wrap">
                    <div class="mom-card-stats" *ngIf="player?.match?.runs">
                        <h1>{{player?.match?.runs}}</h1>
                        <h2>Runs</h2>
                    </div>
    
                    <div class="mom-card-stats" *ngIf="player?.match?.runs">
                        <h1>{{player?.match?.facedBalls}}</h1>
                        <h2>Balls</h2>
                    </div>
            
                    <div class="mom-card-stats" *ngIf="player?.match?.runs">
                        <h1>{{calculateStrikeRate(player?.match?.runs, player?.match?.facedBalls)}}</h1>
                        <h2>Strike Rate</h2>
                    </div>
                </div>
            </ng-container>
    
            <ng-container *ngIf="player?.match?.overs">
                <div class="font-bold border-b border-gray-200 pb-2 mb-2 sm:pb-3 sm:text-2xl mt-6">Bowling</div>
        
                <div class="flex gap-4 flex-wrap">            
                    <div class="mom-card-stats" *ngIf="player?.match?.overs">
                        <h1>{{player?.match?.overs}}</h1>
                        <h2>Overs</h2>
                    </div>
            
                    <div class="mom-card-stats" *ngIf="player?.match?.wickets">
                        <h1>{{player?.match?.wickets}}</h1>
                        <h2>Wickets</h2>
                    </div>
            
                    <div class="mom-card-stats" *ngIf="player?.match?.overs">
                        <h1>{{calculateEconomy(player?.match?.overs, player?.match?.concededRuns)}}</h1>
                        <h2>Economy</h2>
                    </div>
                </div>
            </ng-container>
    
        </div>
    
        <div class="hidden sm:block">
            <img src="./assets/icons/mom.jfif" alt="" width="200" height="200">
        </div>
    </div>
    
    <div class="mom-card no-img flex justify-between p-2 align-items-center flex-col sm:flex-row" *ngIf="bestData?.mostSixes?.runs != -1">
        <p class="mom-card-title">Most Sixes</p>
        <p class="mom-card-player">{{bestData?.mostSixes?.name}} <span>({{bestData?.mostSixes?.runs}})</span></p>
    </div>
    
    
    <div class="mom-card no-img flex justify-between p-2 align-items-center flex-col sm:flex-row" *ngIf="bestData?.mostFours?.runs != -1">
        <p class="mom-card-title">Most Fours</p>
        <p class="mom-card-player">{{bestData?.mostFours?.name}} <span>({{bestData?.mostFours?.runs}})</span></p>
    </div>
    
    
    <div class="mom-card no-img flex justify-between p-2 align-items-center flex-col sm:flex-row" *ngIf="bestData?.bestBowler?.runs != -1">
        <p class="mom-card-title">Most Wickets</p>
        <p class="mom-card-player">{{bestData?.bestBowler?.name}} <span>({{bestData?.bestBowler?.runs}})</span></p>
    </div>
    
    
    <div class="mom-card no-img flex justify-between p-2 align-items-center flex-col sm:flex-row" *ngIf="bestData?.mostCatches?.runs != -1">
        <p class="mom-card-title">Most Catches</p>
        <p class="mom-card-player">{{bestData?.mostCatches?.name}} <span>({{bestData?.mostCatches?.runs}})</span></p>
    </div>
</ng-container>

