<h1 class="text-4xl font-bold text-gray-800 mb-12 text-left">Rankings</h1>
<div class="max-w-7xl mx-auto" *ngIf="!isLoading">
    <div class="flex gap-4 menus justify-center mb-8">
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Team'" (click)="ranking = 'Team'"> Team </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Batting'"  (click)="ranking = 'Batting'"> Batting </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Bowling'" (click)="ranking = 'Bowling'" > Bowling </button>
    </div>
  </div>

  <div class="flex justify-end items-center mb-4 gap-5" *ngIf="!isLoading && ranking === 'Team'">
    <div class="flex items-center gap-2 text-sm">
      <span class="w-2 h-2 bg-green-500 rounded-full"></span>
      Won: 2 Points
    </div>

    <div class="flex items-center gap-2 text-sm">
      <span class="w-2 h-2 bg-yellow-500 rounded-full"></span>
      Draw: 1 Points
    </div>

    <div class="flex items-center gap-2 text-sm">
      <span class="w-2 h-2 bg-red-500 rounded-full"></span>
      Lose: -1 Points
    </div>
  </div>

  <div class="table-container overflow-x-auto shadow-lg rounded-lg" *ngIf="!isLoading && ranking === 'Team'">
    <table class="w-full bg-white">
      <thead class="bg-white sticky top-0">
        <tr class="text-sm text-gray-700 font-semibold border-b">
          <th class="px-6 py-4 text-left">
            <div class="flex items-center gap-2">
              Team 
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('rank', sorting === 'rank' ? 'desc' : sorting === '-rank' ? 'asc' : 'desc')">
              Rank 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('rank')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-rank'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('points', sorting === 'points' ? 'desc' : sorting === '-points' ? 'asc' : 'desc' )">
              Points 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('points')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-points'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('matches', sorting === 'matches' ? 'desc' : sorting === '-matches' ? 'asc' : 'desc' )">
              Matches 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('matches')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-matches'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('won', sorting === 'won' ? 'desc' : sorting === '-won' ? 'asc' : 'desc')">
              Won 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('won')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-won'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('draw', sorting === 'draw' ? 'desc' : sorting === '-draw' ? 'asc' : 'desc')">
              Draw 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('draw')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-draw'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('lose', sorting === 'lose' ? 'desc' : sorting === '-lose' ? 'asc' : 'desc')">
              Lose 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('lose')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-lose'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('winp', sorting === 'winp' ? 'desc' : sorting === '-winp' ? 'asc' : 'desc')">
              Win% 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('winp')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-winp'">
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-50 hover:bg-gray-100 transition-colors duration-200 cursor-pointer" *ngFor="let team of mockData.teams; let i = index"
        [class.!bg-white]="i % 2 === 0">
          <td class="px-6 py-4">
            <div class="flex items-center gap-3 team-name" [routerLink]="['/stats', team?.id]">
              <img
                [src]="getTeamDetails(team)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                alt="Royal Challengers"
                class="w-8 h-8 rounded-full object-cover"
              />
              <span class="font-semibold text-gray-900 whitespace-nowrap">{{getTeamDetails(team)?.team?.name}}</span>
            </div>
          </td>
          <td class="px-4 py-4 text-center">{{team.rank + 1}}</td>
          <td class="px-4 py-4 text-center">{{team?.points}}</td>
          <td class="px-4 py-4 text-center">{{team?.matches}}</td>
          <td class="px-4 py-4 text-center text-green-600 font-medium">{{team?.wins}}</td>
          <td class="px-4 py-4 text-center text-yellow-600 font-medium">{{team?.draws}}</td> 
          <td class="px-4 py-4 text-center text-red-600 font-medium">{{team?.losses}}</td>
          <td class="px-4 py-4 text-center">{{((team?.wins / team?.matches) * 100).toFixed(0)}}%</td>
          <td class="px-4 py-4 text-center">
            <div class="flex">
              <p class="mb-0" *ngFor="let form of team?.recentForm" [class.lost]="form === 0" [class.win]="form === 1">{{form === 1 ? 'W' : 'L'}}</p>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="table-container overflow-x-auto shadow-lg rounded-lg" *ngIf="!isLoading && ranking === 'Batting'">
    <table class="w-full bg-white">
      <thead class="bg-white sticky top-0">
        <tr class="text-sm text-gray-700 font-semibold border-b">
          <th class="px-6 py-4 text-left">Team</th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('rank', sorting === 'rank' ? 'desc' : sorting === '-rank' ? 'asc' : 'desc' )">
                Rank
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('rank')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-rank'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('points', sorting === 'points' ? 'desc' : sorting === '-points' ? 'asc' : 'desc' )">
                Points
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('points')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-points'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('matches', sorting === 'matches' ? 'desc' : sorting === '-matches' ? 'asc' : 'desc' )">
                Matches
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('matches')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-matches'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('runs', sorting === 'runs' ? 'desc' : sorting === '-runs' ? 'asc' : 'desc' )">
                Runs
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('runs')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-runs'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('strikeRate', sorting === 'strikeRate' ? 'desc' : sorting === '-strikeRate' ? 'asc' : 'desc' )">
                SR
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('strikeRate')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-strikeRate'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('ballsFaced', sorting === 'ballsFaced' ? 'desc' : sorting === '-ballsFaced' ? 'asc' : 'desc' )">
                Overs Faced
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('ballsFaced')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-ballsFaced'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('average', sorting === 'average' ? 'desc' : sorting === '-average' ? 'asc' : 'desc' )">
                Avg
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('average')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-average'">
              </div>
            </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-50 hover:bg-gray-100 transition-colors duration-200 cursor-pointer" *ngFor="let team of mockData.batsmen; let i = index"
        [class.!bg-white]="i % 2 === 0">
          <td class="px-6 py-4">
            <div class="flex items-center gap-3 team-name" [routerLink]="['/stats', team?.teamId]">
              <img
                [src]="getTeamDetails(team?.teamId)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                alt="Royal Challengers"
                class="w-8 h-8 rounded-full object-cover"
              />
              <span class="font-semibold text-gray-900 whitespace-nowrap">{{getTeamDetails(team?.teamId)?.team?.name}}</span>
            </div>
          </td>
          <td class="px-4 py-4 text-center">{{team.rank + 1}}</td>
          <td class="px-4 py-4 text-center">{{team.points}}</td>
          <td class="px-4 py-4 text-center">{{team?.matches}}</td>
          <td class="px-4 py-4 text-center font-medium">{{team?.runs}}</td>
          <td class="px-4 py-4 text-center font-medium">{{team?.strikeRate.toFixed(2)}}</td> 
          <td class="px-4 py-4 text-center font-medium">{{ballsToOvers(team.ballsFaced)}}</td>
          <td class="px-4 py-4 text-center">{{team.average.toFixed(2)}}</td>
          <td class="px-4 py-4 text-center">
            <div class="flex">
              <p class="mb-0" *ngFor="let form of team?.recentForm" [class.lost]="form === 0" [class.win]="form === 1">{{form === 1 ? 'W' : 'L'}}</p>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="table-container overflow-x-auto shadow-lg rounded-lg" *ngIf="!isLoading && ranking === 'Bowling'">
    <table class="w-full bg-white">
      <thead class="bg-white sticky top-0">
        <tr class="text-sm text-gray-700 font-semibold border-b">
          <th class="px-6 py-4 text-left">Team</th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('rank', sorting === 'rank' ? 'desc' : sorting === '-rank' ? 'asc' : 'desc' )">
                Rank 
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('rank')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-rank'">
              </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('points', sorting === 'points' ? 'desc' : sorting === '-points' ? 'asc' : 'desc' )">
              Points
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('points')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-points'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('matches', sorting === 'matches' ? 'desc' : sorting === '-matches' ? 'asc' : 'desc' )">
              Matches 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('matches')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-matches'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('overs', sorting === 'overs' ? 'desc' : sorting === '-overs' ? 'asc' : 'desc' )">
              Overs 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('overs')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-overs'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('wickets', sorting === 'wickets' ? 'desc' : sorting === '-wickets' ? 'asc' : 'desc' )">
              Wickets 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('wickets')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-wickets'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('economy', sorting === 'economy' ? 'desc' : sorting === '-economy' ? 'asc' : 'desc' )">
              Economy 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('economy')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-economy'">
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-50 hover:bg-gray-100 transition-colors duration-200 cursor-pointer" *ngFor="let team of mockData.bowlers; let i = index"
        [class.!bg-white]="i % 2 === 0">
          <td class="px-6 py-4">
            <div class="flex items-center gap-3 team-name" [routerLink]="['/stats', team?.teamId]">
              <img
                [src]="getTeamDetails(team?.teamId)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                alt="Royal Challengers"
                class="w-8 h-8 rounded-full object-cover"
              />
              <span class="font-semibold text-gray-900 whitespace-nowrap">{{getTeamDetails(team?.teamId)?.team?.name}}</span>
            </div>
          </td>
          <td class="px-4 py-4 text-center">{{team.rank + 1}}</td>
          <td class="px-4 py-4 text-center">{{team.points}}</td>
          <td class="px-4 py-4 text-center">{{team?.matches}}</td>
          <td class="px-4 py-4 text-center font-medium">{{ballsToOvers(team.ballsBowled)}}</td> 
          <td class="px-4 py-4 text-center font-medium">{{team.wickets}}</td>
          <td class="px-4 py-4 text-center">{{team.economy.toFixed(2)}}</td>
          <td class="px-4 py-4 text-center">
            <div class="flex">
              <p class="mb-0" *ngFor="let form of team?.recentForm" [class.lost]="form === 0" [class.win]="form === 1">{{form === 1 ? 'W' : 'L'}}</p>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <p class="text-right text-sm text-red-400 mt-3" *ngIf="!isLoading">*Note: ranking consider based on league matches only</p>
  
<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>