.card-hover {
  backdrop-filter: blur(3px);
}
.card-hover:hover {
    // transform: translateY(-4px);
    transition: all 0.3s ease;
  }
  
  .stats-bar {
    height: 4px;
    background: #e2e8f0;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .stats-bar-fill {
    height: 100%;
    transition: width 0.3s ease;
  }
  

  .bg-grid {
    background-image: url('./../../../assets/icons/bg2.jpg');
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  .rank-card {
    @apply flex;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;

    &:not(:last-child) {
      @apply mb-4;
    }

    &__image {
      @apply flex items-center justify-center;
      border-radius: 10px 0 0 10px;
      width: 120px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &__number {
      @apply flex px-12 items-center justify-center flex-col text-white relative;
      p {
        @apply mb-0 font-semibold;
        line-height: normal;
        font-size: 2.2rem;
      }

      span {
        font-size: 0.8rem;
      }

      &::before {
        @apply absolute right-0;
        content: '';
        width: 1px;
        height: 60%;
        top: 20%;
        background: #fff;
      }
    }

    &__detail {
      @apply flex py-6 bg-orange-600 items-center;
      min-width: 420px;
    }

    &__team {
      p {
        @apply mb-0 pl-12 font-semibold text-white;
        line-height: normal;
        font-size: 1.4rem;
      }
    }

    &__points {
      @apply flex items-center px-12 flex-grow justify-between;
    }

    &__point {
      @apply text-center;
      // width: 130px;
      p {
        @apply mb-0 font-semibold text-white;
        line-height: 0.8;
        font-size: 2.2rem;
      }

      span {
        @apply text-gray-200 uppercase;
        font-size: 0.6rem;
      }
    }

  }

  .menus {
    button {
      @apply text-gray-500 hover:text-gray-700 py-2 px-8 rounded-full;
      &.active,
      &:hover {
        @apply bg-gradient-to-r from-blue-700 to-purple-700 text-white;
      }
    }
  }

  .team-logo {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }