<h1 class="text-4xl font-bold theme-text mb-12 text-left">Rankings</h1>
<div class="max-w-7xl mx-auto" *ngIf="!isLoading">
    <div class="flex gap-4 menus justify-center mb-8">
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Team'" (click)="sortByRank('Team');ranking = 'Team'"> Team </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Batting'"  (click)="sortByRank('Batting');ranking = 'Batting'"> Batting </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Bowling'" (click)="sortByRank('Bowling');ranking = 'Bowling'" > Bowling </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Players'" (click)="ranking = 'Players'" > Players </button>
    </div>
  </div>

  <div class="flex justify-end items-center mb-4 gap-5" *ngIf="!isLoading && ranking === 'Team'">
    <div class="flex items-center gap-2 text-sm">
      <span class="w-2 h-2 bg-green-500 rounded-full"></span>
      <span class="theme-text">Won: 2 Points</span>
    </div>

    <div class="flex items-center gap-2 text-sm">
      <span class="w-2 h-2 bg-yellow-500 rounded-full"></span>
      <span class="theme-text">Draw: 1 Points</span>
    </div>

    <div class="flex items-center gap-2 text-sm">
      <span class="w-2 h-2 bg-red-500 rounded-full"></span>
      <span class="theme-text">Lose: -1 Points</span>
    </div>
  </div>

  <div class="table-container overflow-x-auto shadow-lg rounded-lg" *ngIf="!isLoading && ranking === 'Team'">
    <table class="w-full">
      <thead class="theme-table-row-even sticky top-0">
        <tr class="text-sm theme-text font-semibold border-b">
          <th class="px-6 py-4 text-left">
            <div class="flex items-center gap-2">
              Team 
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('rank', sorting === 'rank' ? 'desc' : sorting === '-rank' ? 'asc' : 'desc')">
              Rank 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('rank')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-rank'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('points', sorting === 'points' ? 'desc' : sorting === '-points' ? 'asc' : 'desc' )">
              Points 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('points')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-points'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('played', sorting === 'played' ? 'desc' : sorting === '-played' ? 'asc' : 'desc' )">
              Matches 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('played')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-played'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('win', sorting === 'win' ? 'desc' : sorting === '-win' ? 'asc' : 'desc')">
              Won 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('win')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-win'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('draw', sorting === 'draw' ? 'desc' : sorting === '-draw' ? 'asc' : 'desc')">
              Draw 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('draw')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-draw'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('loss', sorting === 'loss' ? 'desc' : sorting === '-loss' ? 'asc' : 'desc')">
              Lose 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('loss')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-loss'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="sortByTeams('winp', sorting === 'winp' ? 'desc' : sorting === '-winp' ? 'asc' : 'desc')">
              Win% 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('winp')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-winp'">
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="theme-table-row-even transition-colors duration-200 cursor-pointer" *ngFor="let team of mockData.teams; let i = index"
        [class.theme-table-row-odd]="i % 2 === 0">
          <td class="px-6 py-4">
            <a class="flex items-center gap-3 team-name" [routerLink]="['/stats', team?.id]">
              <img
                [src]="getTeamDetails(team)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                alt="Royal Challengers"
                class="w-8 h-8 rounded-full object-cover"
              />
              <span class="flex gap-2 font-semibold theme-text whitespace-nowrap rank-team items-center">{{getTeamDetails(team)?.team?.name}}
                <!-- <div class="flex gap-2 items-center" *ngIf="team.prev_rank !== team.curr_rank">
                  <img src="./assets/icons/up.png" alt="" width="14" height="14" *ngIf="team.curr_rank < team.prev_rank">
                  <img src="./assets/icons/down.png" alt="" width="14" height="14" *ngIf="team.curr_rank > team.prev_rank">
                  <span class="text-sm"
                  [class.!text-green-600]="team.curr_rank < team.prev_rank"
                  [class.!text-red-600]="team.curr_rank > team.prev_rank"
                  >{{getAbsValue(team.prev_rank - team.curr_rank)}}</span>
                </div> -->
              </span>
            </a>
          </td>
          <td class="px-4 theme-text py-4 text-center">{{team.rank}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.points}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.played}}</td>
          <td class="px-4 py-4 text-center text-green-600 font-medium">{{team?.win}}</td>
          <td class="px-4 py-4 text-center text-yellow-600 font-medium">{{team?.draw}}</td> 
          <td class="px-4 py-4 text-center text-red-600 font-medium">{{team?.loss}}</td>
          <td class="px-4 theme-text py-4 text-center">{{((team?.win / team?.played) * 100).toFixed(0)}}%</td>
          <td class="px-4 py-4 text-center">
            <div class="flex">
              <p class="mb-0" *ngFor="let form of team.recentForm" [class.lost]="form?.result === 'L'"  [class.draw]="form?.result === 'D'" [class.win]="form?.result === 'W'">{{form?.result}}</p>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="table-container overflow-x-auto shadow-lg rounded-lg" *ngIf="!isLoading && ranking === 'Batting'">
    <table class="w-full">
      <thead class="theme-table-row-even sticky top-0">
        <tr class="text-sm theme-text font-semibold border-b">
          <th class="px-6 py-4 text-left">Team</th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('rank', sorting === 'rank' ? 'desc' : sorting === '-rank' ? 'asc' : 'desc' )">
                Rank
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('rank')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-rank'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('battingPoints', sorting === 'battingPoints' ? 'desc' : sorting === '-battingPoints' ? 'asc' : 'desc' )">
                Points
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('battingPoints')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-battingPoints'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('played', sorting === 'played' ? 'desc' : sorting === '-played' ? 'asc' : 'desc' )">
                Matches
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('played')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-played'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('runsFor', sorting === 'runsFor' ? 'desc' : sorting === '-runsFor' ? 'asc' : 'desc' )">
                Runs
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('runsFor')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-runsFor'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('strikeRate', sorting === 'strikeRate' ? 'desc' : sorting === '-strikeRate' ? 'asc' : 'desc' )">
                SR
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('strikeRate')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-strikeRate'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('oversFaced', sorting === 'oversFaced' ? 'desc' : sorting === '-oversFaced' ? 'asc' : 'desc' )">
                Overs Faced
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('oversFaced')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-oversFaced'">
              </div>
            </th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBatsman('battingAverage', sorting === 'battingAverage' ? 'desc' : sorting === '-battingAverage' ? 'asc' : 'desc' )">
                Avg
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('battingAverage')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-battingAverage'">
              </div>
            </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="theme-table-row-odd transition-colors duration-200 cursor-pointer" *ngFor="let team of mockData.batsmen; let i = index"
        [class.theme-table-row-even]="i % 2 === 0">
          <td class="px-6 py-4">
            <a class="flex items-center gap-3 team-name" [routerLink]="['/stats', team?.id]">
              <img
                [src]="getTeamDetails(team)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                alt="Royal Challengers"
                class="w-8 h-8 rounded-full object-cover"
              />
              <span class="flex gap-2 font-semibold theme-text whitespace-nowrap rank-team items-center">{{getTeamDetails(team)?.team?.name}}
                <!-- <div class="flex gap-2 items-center" *ngIf="team.prev_rank !== team.curr_rank">
                  <img src="./assets/icons/up.png" alt="" width="14" height="14" *ngIf="team.curr_rank < team.prev_rank">
                  <img src="./assets/icons/down.png" alt="" width="14" height="14" *ngIf="team.curr_rank > team.prev_rank">
                  <span class="text-sm"
                    [class.!text-green-600]="team.curr_rank < team.prev_rank"
                    [class.!text-red-600]="team.curr_rank > team.prev_rank"
                    >{{getAbsValue(team.prev_rank - team.curr_rank)}}</span>
                </div> -->
              </span>
            </a>
          </td>
          <td class="px-4 theme-text py-4 text-center">{{team.rank}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.battingPoints.toFixed(2)}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.played}}</td>
          <td class="px-4 theme-text py-4 text-center font-medium">{{team?.runsFor}}</td>
          <td class="px-4 theme-text py-4 text-center font-medium">{{team?.strikeRate.toFixed(2)}}</td> 
          <td class="px-4 theme-text py-4 text-center font-medium">{{team?.oversFaced}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.battingAverage.toFixed(2)}}</td>
          <td class="px-4 theme-text py-4 text-center">
            <div class="flex">
              <p class="mb-0" *ngFor="let form of team.recentForm" [class.lost]="form?.result === 'L'"  [class.draw]="form?.result === 'D'" [class.win]="form?.result === 'W'">{{form?.result}}</p>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="table-container overflow-x-auto shadow-lg rounded-lg" *ngIf="!isLoading && ranking === 'Bowling'">
    <table class="w-full">
      <thead class="theme-table-row-even sticky top-0">
        <tr class="text-sm theme-text font-semibold border-b">
          <th class="px-6 py-4 text-left">Team</th>
          <th class="px-4 py-4 text-center">
              <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('rank', sorting === 'rank' ? 'desc' : sorting === '-rank' ? 'asc' : 'desc' )">
                Rank 
                <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('rank')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-rank'">
              </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('bowlingPoints', sorting === 'bowlingPoints' ? 'desc' : sorting === '-bowlingPoints' ? 'asc' : 'desc' )">
              Points
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('bowlingPoints')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-bowlingPoints'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('played', sorting === 'played' ? 'desc' : sorting === '-played' ? 'asc' : 'desc' )">
              Matches 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('played')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-played'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('oversBowled', sorting === 'oversBowled' ? 'desc' : sorting === '-oversBowled' ? 'asc' : 'desc' )">
              Overs 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('oversBowled')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-oversBowled'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('wicketsTaken', sorting === 'wicketsTaken' ? 'desc' : sorting === '-wicketsTaken' ? 'asc' : 'desc' )">
              Wickets 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('wicketsTaken')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-wicketsTaken'">
            </div>
          </th>
          <th class="px-4 py-4 text-center">
            <div class="flex items-center justify-center gap-2 cursor-pointer" (click)="sortByBowler('economy', sorting === 'economy' ? 'desc' : sorting === '-economy' ? 'asc' : 'desc' )">
              Economy 
              <img src="./assets/icons/arrow-down.png" *ngIf="sorting.includes('economy')" alt="" width="20" height="20" [class.rotate-180]="sorting === '-economy'">
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="theme-table-row-odd transition-colors duration-200 cursor-pointer" *ngFor="let team of mockData.bowlers; let i = index"
        [class.theme-table-row-even]="i % 2 === 0">
          <td class="px-6 py-4">
            <a class="flex items-center gap-3 team-name" [routerLink]="['/stats', team?.id]">
              <img
                [src]="getTeamDetails(team?.id)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'"
                alt="Royal Challengers"
                class="w-8 h-8 rounded-full object-cover"
              />
              <span class="flex gap-2 font-semibold theme-text whitespace-nowrap rank-team items-center">{{getTeamDetails(team?.id)?.team?.name}}
                <div class="flex gap-2 items-center" *ngIf="team.prev_rank !== team.curr_rank">
                  <img src="./assets/icons/up.png" alt="" width="14" height="14" *ngIf="team.curr_rank < team.prev_rank">
                  <img src="./assets/icons/down.png" alt="" width="14" height="14" *ngIf="team.curr_rank > team.prev_rank">
                  <span class="text-sm"
                  [class.!text-green-600]="team.curr_rank < team.prev_rank"
                  [class.!text-red-600]="team.curr_rank > team.prev_rank"
                  >{{getAbsValue(team.prev_rank - team.curr_rank)}}</span>
                </div>
              </span>
            </a>
          </td>
          <td class="px-4 theme-text py-4 text-center">{{team.rank}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.bowlingPoints?.toFixed(2)}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.played}}</td>
          <td class="px-4 theme-text py-4 text-center font-medium">{{team?.oversBowled}}</td> 
          <td class="px-4 theme-text py-4 text-center font-medium">{{team.wicketsTaken}}</td>
          <td class="px-4 theme-text py-4 text-center">{{team?.economy?.toFixed(2)}}</td>
          <td class="px-4 theme-text py-4 text-center">
            <div class="flex">
              <p class="mb-0" *ngFor="let form of team.recentForm" [class.lost]="form?.result === 'L'"  [class.draw]="form?.result === 'D'" [class.win]="form?.result === 'W'">{{form?.result}}</p>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="table-container overflow-x-auto" *ngIf="!isLoading && ranking === 'Players'">
    <div class="theme-card flex items-center gap-4 p-4 rounded-lg shadow-lg mb-4" *ngFor="let player of players">
      <p class="theme-text player-name">{{player.name}}</p>
      <ng-container *ngIf="player?.leagues">
        <div pTooltip="{{item.key}}" tooltipPosition="top" *ngFor="let item of getLeagueArray(player?.leagues?.[0])"><img width="24" height="24" src="./assets/icons/worldcup3.png"></div>
      </ng-container>

      <ng-container *ngIf="player?.orange_leagues">
        <div pTooltip="{{item.key}}" tooltipPosition="top" *ngFor="let item of getLeagueArray(player?.orange_leagues?.[0])"><img width="24" height="24" src="./assets/icons/orangecap.png"></div>
      </ng-container>

      <ng-container *ngIf="player?.purple_leagues">
        <div pTooltip="{{item.key}}" tooltipPosition="top" *ngFor="let item of getLeagueArray(player?.purple_leagues?.[0])"><img width="24" height="24" src="./assets/icons/purplecap.png"></div>
      </ng-container>

    </div>
  </div>

  <p class="text-right text-sm text-red-400 mt-3" *ngIf="!isLoading">*Note: ranking consider based on league matches only</p>
  
<div *ngIf="isLoading">
  <app-spinner [dotLoader]="false"></app-spinner>
</div>