<h1 class="text-4xl font-bold text-gray-800 mb-12 text-left">Rankings</h1>
<div class="max-w-7xl mx-auto" *ngIf="!isLoading">
    <div class="flex gap-4 menus justify-center mb-8">
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Team'" (click)="ranking = 'Team'"> Team </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Batting'"  (click)="ranking = 'Batting'"> Batting </button>
      <button class="text-gray-900 font-medium hover:text-primary transition-colors" [class.active]="ranking === 'Bowling'" (click)="ranking = 'Bowling'" > Bowling </button>
    </div>



    <div class="grid grid-cols-1 gap-8 bg-grid">
      <!-- Team Rankings Card -->
      <div class="shadow-lg p-8 card-hover" *ngIf="ranking === 'Team'">
        <div class="relative rank-card" *ngFor="let team of mockData.teams; let i = index" >
          <div class="flex justify-between w-full">
            <div class="rank-card__image">
              <!-- https://i.postimg.cc/65sS9ZdX/pngwing-com.png -->
              <!-- getTeamDetails(team)?.team?.logo -->
              <img [src]="getTeamDetails(team)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'" class="object-cover team-logo rounded-lg" width="50" height="50" alt="team logo"> 
            </div>
            <div class="rank-card__detail">
              <div class="rank-card__number">
                <p>{{i + 1}}</p>
                <span>Place</span>
              </div>
              <div class="rank-card__team">
                <p>{{team.name}}</p>
              </div>
            </div>

            <div class="rank-card__points">

              <div class="rank-card__point">
                <p>{{team.points}}</p>
                <span>Points</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.matches}}</p>
                <span>Matches</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.wins}}</p>
                <span>Won</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.draws}}</p>
                <span>Draw</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.losses}}</p>
                <span>Lose</span>
              </div>


            </div>
          </div>
        </div>
      </div>
  
      <!-- Batting Rankings Card -->
      <div class="shadow-lg p-8 card-hover" *ngIf="ranking === 'Batting'">
        <div class="relative rank-card" *ngFor="let team of mockData.batsmen; let i = index" >
          <div class="flex justify-between w-full">
            <div class="rank-card__image">
              <!-- https://i.postimg.cc/65sS9ZdX/pngwing-com.png -->
              <!-- getTeamDetails(team)?.team?.logo -->
              <img [src]="getTeamDetails(team?.teamId)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'" class="object-cover team-logo rounded-lg" width="50" height="50" alt="team logo"> 
            </div>
            <div class="rank-card__detail">
              <div class="rank-card__number">
                <p>{{i + 1}}</p>
                <span>Place</span>
              </div>
              <div class="rank-card__team">
                <p>{{team.name}}</p>
              </div>
            </div>

            <div class="rank-card__points">

              <!-- <div class="rank-card__point">
                <p>{{team.points}}</p>
                <span>Points</span>
              </div> -->

              <div class="rank-card__point">
                <p>{{team.matches}}</p>
                <span>Matches</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.runs}}</p>
                <span>Runs</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.strikeRate.toFixed(2)}}</p>
                <span>SR</span>
              </div>

              <div class="rank-card__point">
                <p>{{ballsToOvers(team.ballsFaced)}}</p>
                <span>OF</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.average.toFixed(2)}}</p>
                <span>Avg</span>
              </div>


            </div>
          </div>
        </div>
      </div>
  
      <!-- Bowling Rankings Card -->
      <div class="shadow-lg p-8 card-hover" *ngIf="ranking === 'Bowling'">
        <div class="relative rank-card" *ngFor="let team of mockData.bowlers; let i = index" >
          <div class="flex justify-between w-full">
            <div class="rank-card__image">
              <!-- https://i.postimg.cc/65sS9ZdX/pngwing-com.png -->
              <!-- getTeamDetails(team)?.team?.logo -->
              <img [src]="getTeamDetails(team.teamId)?.team?.logo ?? 'https://i.postimg.cc/65sS9ZdX/pngwing-com.png'" class="object-cover team-logo rounded-lg" width="50" height="50" alt="team logo"> 
            </div>
            <div class="rank-card__detail">
              <div class="rank-card__number">
                <p>{{i + 1}}</p>
                <span>Place</span>
              </div>
              <div class="rank-card__team">
                <p>{{team.name}}</p>
              </div>
            </div>

            <div class="rank-card__points">

              <div class="rank-card__point">
                <p>{{team.matches}}</p>
                <span>Matches</span>
              </div>

              <div class="rank-card__point">
                <p>{{ballsToOvers(team.ballsBowled)}}</p>
                <span>Overs</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.wickets}}</p>
                <span>Wickets</span>
              </div>

              <div class="rank-card__point">
                <p>{{team.economy.toFixed(2)}}</p>
                <span>Economy</span>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>