<div class="flex justify-between items-center">
    <h1 class="section-heading">Matches</h1>
    <div class="flex gap-2">
        <button type="button" class="btn" (click)="createMatch()">Create Match</button>
    </div>
 </div>

 
 <div class="flex items-center gap-8">
    <button class="text-gray-500 hover:text-primary transition-colors" [class.text-gray-900]="matchType === 'all'" [class.font-medium]="matchType === 'all'" (click)="setMatchType('all')">
      All Matches
    </button>
    <button class="text-gray-500 hover:text-primary transition-colors" [class.text-gray-900]="matchType === 'completed'" [class.font-medium]="matchType === 'completed'" (click)="setMatchType('completed')">
      Completed
    </button>
    <button class="text-gray-500 hover:text-primary transition-colors" [class.text-gray-900]="matchType === 'upcoming'" [class.font-medium]="matchType === 'upcoming'" (click)="setMatchType('upcoming')">
      Upcoming
    </button>

    <button class="text-gray-500 hover:text-primary transition-colors">
      {{matches?.length}} Matches
    </button>
  </div>

  <div class="flex items-center gap-2 justify-end mb-12" *ngIf="allMatches?.length > 0">
    <button class="w-fit" (click)="toggleView('list')">
      <img src="./assets/icons/list.png" alt="" width="40" width="40">
    </button>

    <button class="w-fit" (click)="toggleView('grid')">
      <img src="./assets/icons/grid.png" alt="" width="40" width="40">
    </button>
  </div>


<div class="grid gap-6" [class.grid-cols-1]="view === 'list'" [class.grid-cols-2]="view === 'grid'" id="matchContainer">

    <ng-container *ngFor="let fixture of matches">
      <div
        class="match-card bg-white rounded-2xl shadow-lg hover:shadow-xl transition-all duration-300 cursor-pointer">
        <div class="relative">
          <div class="absolute top-4 right-4 flex items-center gap-2">
            <div class="flex items-center gap-2 bg-gray-50 px-3 py-1 rounded-full" *ngIf="fixture?.status === 'upcoming'">
              <i class="ri-time-line text-gray-600"></i>
              <span class="text-gray-600 font-medium">Upcoming</span>
            </div>

            <div class="flex items-center gap-2 bg-green-50 px-3 py-1 rounded-full" *ngIf="fixture?.status === 'completed'">
              <i class="ri-checkbox-circle-line text-green-600"></i>
              <span class="text-green-600 font-medium">Completed</span>
            </div>
          </div>

          <ng-container *ngIf="fixture?.status === 'completed'">
            <div *ngIf="fixture?.team_one?.runs > fixture?.team_two?.runs"
              class=" w-full bg-gradient-to-r from-green-500 to-green-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
              <i class="ri-trophy-line"></i>
              <span>{{fixture?.team_one?.name ?? getTeamDetails(fixture?.team_one)?.name}} Won The Match!</span>
            </div>

            <div *ngIf="fixture?.team_two?.runs > fixture?.team_one?.runs"
              class=" w-full bg-gradient-to-r from-green-500 to-green-600 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
              <i class="ri-trophy-line"></i>
              <span>{{fixture?.team_two?.name ?? getTeamDetails(fixture?.team_two)?.name}} Won The Match!</span>
            </div>
            
            <div *ngIf="fixture?.team_two?.runs === fixture?.team_one?.runs"
              class=" w-full bg-gradient-to-r from-yellow-400 to-yellow-500 text-white py-1 px-6 text-center font-medium flex items-center justify-center gap-2">
              <span>It's a Draw!</span>
            </div>

          </ng-container>


          <div class="p-6">
            <div class="flex items-center gap-2 mb-4">
              <i class="ri-trophy-line text-primary"></i>
              <span class="font-medium text-gray-900">Match {{fixture?.match_number}}</span>
            </div>
            <div class="flex items-center justify-between mb-8">
              <div class="flex items-center gap-4 flex-1">
                <img [src]="fixture?.team_one?.logo ?? getTeamDetails(fixture?.team_one)?.logo"
                  class="w-12 h-12 rounded-full object-cover" alt="New Zealand">
                <div>
                  <div [routerLink]="['/stats', fixture?.team_one?.id]" class="team-name font-semibold text-lg text-gray-900">{{fixture?.team_one?.name ?? getTeamDetails(fixture?.team_one)?.name}}</div>
                  <div *ngIf="fixture?.status !== 'upcoming'" 
                    [class.text-red-500]="fixture?.team_two?.runs > fixture?.team_one?.runs" 
                    [class.text-green-500]="fixture?.team_one?.runs > fixture?.team_two?.runs" class="text-2xl font-bold text-gray-900">{{fixture?.team_one?.runs}}/{{fixture?.team_one?.wickets}}</div>
                  <div *ngIf="fixture?.status !== 'upcoming'"  class="text-sm text-gray-500">{{ballsToOvers(fixture?.team_one?.balls)}} overs</div>
                </div>
              </div>
              <div class="px-6">
                <div class="text-gray-400 font-medium text-lg mb-2">VS</div>
              </div>
              <div class="flex items-center gap-4 flex-1 justify-end">
                <div class="text-right">
                  <div [routerLink]="['/stats', fixture?.team_two?.id]" class="team-name font-semibold text-lg text-gray-900">{{fixture?.team_two?.name ??  getTeamDetails(fixture?.team_two)?.name}}</div>
                  <div *ngIf="fixture?.status !== 'upcoming'" 
                    [class.text-red-500]="fixture?.team_one?.runs > fixture?.team_two?.runs" 
                    [class.text-green-500]="fixture?.team_two?.runs > fixture?.team_one?.runs"
                   class="text-2xl font-bold text-gray-900">{{fixture?.team_two?.runs}}/{{fixture?.team_two?.wickets}}</div>
                  <div *ngIf="fixture?.status !== 'upcoming'" class="text-sm text-gray-500">{{ballsToOvers(fixture?.team_two?.balls)}} overs</div>
                </div>
                <img [src]="fixture?.team_two?.logo ?? getTeamDetails(fixture?.team_two)?.logo"
                  class="w-12 h-12 rounded-full object-cover" alt="Pakistan">
              </div>
            </div>
            <div class="flex items-center justify-end">
              <button class="outline-btn flex gap-2 items-center !border-red-200 hover:!bg-transparent" 
              *ngIf="(fixture?.status != 'completed') &&  (fixture?.team_two?.id === user?.uid || fixture?.team_one?.id === user?.uid)" (click)="openMatchResultModal(fixture)">
                <img src="./assets/icons/cricket-ball.gif" alt="" width="30" width="30">
                Update Result
              </button>
            </div>
            <button class="outline-btn ml-auto btn-delete flex gap-2 items-center mb-4" (click)="deleteMatch(fixture, $event)" *ngIf="user?.uid === fixture.team_one.id || user?.admin"> 
                <img src="./assets/icons/delete.png" alt="" width="20" width="20">
            </button>
          </div>
        </div>

      </div>
    </ng-container>

    <ng-container *ngIf="!fixturesLoading && matches?.length === 0">
      <div class="flex items-center justify-center mt-10 w-full">
        <div class="text-gray-500 text-center">
          No Fixtures Found
        </div>
      </div>
    </ng-container>
  </div>


  
 <p-dialog header="Create Match" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
    <app-add-head-to-head (close)="closeModal()"></app-add-head-to-head>
 </p-dialog>

 <p-dialog header="Match Result" [(visible)]="matchResultModal" [modal]="true" [draggable]="false" [resizable]="false">
  <app-match-result [isH2H]="true" [match]="selectedMatch" (closeMatchResultModal)="closeMatchResultModal($event)"></app-match-result>
</p-dialog>
